/* CSS Document */
*{margin:0;padding:0;font-family:"돋음",dotum,Helvetica,AppleGothic,Sans-serif;-webkit-text-size-adjust:none;}
body {position:relative;background-color:#fff;font-size:12px;line-height:1.25em;color:#424242;word-wrap:break-word;word-break:break-all;}
ul, li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
img,fieldset {border:0;}
.png24 {tmp:expression(setPng24(this));}
#main_wrap {background-image:url(/img/common/main_topbg.jpg); background-position: center 0; background-repeat:repeat-x; }
#sub_wrap {background-image:url(/img/common/sub_bg.jpg); background-position: center 0; background-repeat:repeat-x; }
#m_maintop { height:95px; position:relative; background-image:url(/img/common/top_bg.jpg); background-position:0 0; background-repeat:repeat-x;}
#s_maintop { height:109px; position:relative; background-image:url(/img/common/top_bg.jpg); background-position:0 0; background-repeat:repeat-x;}
#s_maintop1 { height:68px; position:relative; background-image:url(/img/common/top_bg.jpg); background-position:0 0; background-repeat:repeat-x;}
#content { min-height:315px; _height:315px; padding:0 0 20px 0;}
#main_maintop1 { height:90px; position:relative; background-image:url(/img/common/top_bg.jpg); background-position:0 0; background-repeat:repeat-x;}

h1 {height:39px; text-align:center;}
.login { position:absolute; right:5px; top:5px; z-index:3px;}
.logout { position:absolute; right:5px; top:5px; z-index:3px; width:70px; padding:5px 0; font-weight:bold; text-align:right; font-size:14px;}
.login_right { position:absolute; right:5px; top:5px; z-index:5px; }
.home { position:absolute; left:5px; top:5px; z-index:7px;}


.main_logo {text-align:center;border:1px solid #000; }
#topmenu_bg {background-image:url(/img/common/bg.jpg); background-position:0 0; background-repeat:repeat-x; height:45px; }
#topmenu_bg .topmenu_left {text-align:left; float:left;}
#topmenu_bg .topmenu_center {text-align:right; float:right;}
#topmenu_bg .menu { position:absolute; left:0; top:69; z-index:22; width:100%; margin:0 auto; height:45px;}
.topmenu {overflow:hidden; margin:0; padding:0; width:100%;}
.topmenu li {overflow:hidden; position:relative; float:left; padding:0; height:42px; text-align:center; font-weight:bold; color:#fff; font-size:13px; height:40px; text-align:center; padding-top:3px;}
.width_m1 {width:19%;}
.width_m2 {width:24%;}
.width_m3 {width:30%;}
.width_m4 {width:24%;}


/*메인 상단*/
#main_topmenu_bg { background-image:url(/img/common/main_bg3.jpg); background-position:0 0; background-repeat:repeat-x; height:45px; position:relative;}
#main_topmenu_bg .topmenu_left1 {float:left; }
#main_topmenu_bg .topmenu_center1 {float:right;}
#main_topmenu_bg .top_center { position:absolute; z-index:111; color:#fff; font-weight:bold; text-align:center; top:0; left:0; padding-top:9px; width:100%; font-size:14px;}

/*공지사항*/
.notice_bg {background-image:url(/img/common/notice_bg.jpg); background-position:0 0; background-repeat:repeat-x; height:35px;}
.notice_title { float:left; padding: 8px 5px 5px 15px;}
.notice_text {float:left; padding: 9px 0 0 0; line-height:20px; font-size:14px; color:#000;}

/*날씨*/
.weather {height:25px; line-height:25px;position:absolute; z-index:7; right:10px; top:4px; text-align:right; font-size:14px; font-weight:bold; color:#fff; }
.weather_text {line-height:17px;}

/*이름*/
.main_name {position:absolute; top:72px; left:15px; color:#000;}

/*메인*/
.main_icon {overflow:hidden; padding:0 8px 0 8px;}
.main_icon a {overflow:hidden;display:block; text-align:center;letter-spacing:-1px; line-height:14px;}
.main_icon li {overflow:hidden; float:left; padding:0 5px 12px 5px; width:59px;height:92px; }
.main_icon .i {background: url(/img/main/main_icon.jpg); display:block;width:59px; height:92px;}
.main_icon1 .i {background-position:0 0;}
.main_icon2 .i {background-position:209px 0;}
.main_icon3 .i {background-position:134px 0;}
.main_icon4 .i {background-position:59px 0;}
.main_icon5 .i {background-position:0 205px;}
.main_icon6 .i {background-position:209px 205px;}
.main_icon7 .i {background-position:134px 205px;}
.main_icon8 .i {background-position:60px 205px;}
.main_icon9 .i {background-position:0 110px;}
.main_icon10 .i {background-position:208px 110px;}
.main_icon11 .i {background-position:134px 110px;}
.main_icon12 .i {background-position:59px 110px;}


/*검색 */
#search {width:80%; margin:0 auto; height:28px; background-image:url(/img/common/search_center.jpg); background-position:0 0; background-repeat:repeat-x;}
#search .leftimg {width:5%; height:28px; float:left;}
#search .center {width:85%; height:28px;float:left;}
#search .rightbtn {width:10%; height:28px; float:right;text-align:right;}
#search .search_input {width:100%; height:20px; border:0; line-height:20px; background-image:url(/img/common/search_center.jpg); background-position:0 0; background-repeat:repeat-x; }


/*로그인 */
.login_box {height:152px;}
.login_text1 {line-height:18px;padding:0 15px 30px 15px;}

/* 로그인_로그아웃 */
.logout_p1{text-align:center; padding:10px 0;}
.logout_p2{text-align:center; padding:10px 0; font-weight:bold; color:#565656;}

/*에러박스*/
.error_box {padding:0 0 20px 0;}
.error_box table { width:100%; padding:0; margin:0;}
.error_box td { padding:0; margin:0;}
.error_top {background-image:url(/img/common/box_top.jpg); background-repeat:0 0; background-repeat:repeat-x;}
.error_bottom {background-image:url(/img/common/box_bottom.jpg); background-repeat:0 0; background-repeat:repeat-x;}
.error_left {background-image:url(/img/common/box_left.jpg); background-repeat:0 0; background-repeat:repeat-y;}
.error_right {background-image:url(/img/common/box_right.jpg); background-repeat:0 0; background-repeat:repeat-y;}
.error_boxbg {background-image:url(/img/common/box_bg.jpg); background-position:0 bottom; background-repeat:repeat-x;}
.error_body {padding:10px;}


/* 주민등록번호 */
.login_box {width:100%; padding:0 0 0 0;}
.login_box table {width:100%; border:0; margin:0; padding:0;}
.login_box_bg {background-image: url(/img/common/login_box.jpg); background-repeat:repeat-x; background-position:0 0;}
.login_box_bg table {width:99%; text-align:center;}
.login_box_bg table td {text-align: center;}
.login_box_bg table td table{width:100%; text-align:left;}
.login_box_bg .input_box {border-top:1px solid #ccc; border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;height:29px; width:80%; padding:0; margin:0; font-size:11px; }

.login_box_bg2 {background-image: url(/img/common/login_boxbg.gif); background-repeat:repeat-x; background-position:0 0;}
.main_setting {padding: 0 0 0 10px;}
.setting_p { line-height:35px; font-weight:bold; font-size:14px; color:#666;}
.login_box_text { padding:8px 15px 0 15px; color:#808080;}

/* 로그인 */
.login_box1 {width:100%; padding:0 0 0 0;}
.login_box1 table {width:100%; border:0; margin:0; padding:0;}
.login_box_bg1 {background-image: url(/img/common/login_bg_cen.gif); background-repeat:repeat-x; background-position:0 0;}
.login_box_bg1 table {width:99%; text-align:center;}
.login_box_bg1 table td {text-align: center;}
.login_box_bg1 table td table{width:100%; text-align:left;}
.login_box_bg1 .input_box {border-top:1px solid #ccc; border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;height:29px; width:80%; padding:0; margin:0; font-size:11px; }

.inquiry {padding:5px 0 0 15px; width:220px; font-weight:bold; color:#666; line-height:20px;}
.inquiry .date {color:#000; line-height:20px; font-size:13px;}
.inquiry .date_or {color:#fa6d01; line-height:20px; font-size:13px; letter-spacing:-1px;}
.inquiry_text {padding:10px 0 0 5px;}
.inquiry_text2 {padding:10px 0 20px 5px;}
.inquiry_btn {width:100%; padding:0 0 30px 0; text-align:center; height:46px;}
.inquiry_btn p{width:93px; padding:0 5px 0 0; display:inline;}

/*하단 */
#footer { clear:both; height:47px; line-height:20px; text-align:center; border-top:1px solid #d9d9d9; background-color:#eaeaea; color:#4f4e4e; }
.footer_link {height:25px; line-height:25px; font-size:14px; margin:0 auto; width:260px; padding:5px 0 0 0;}
.footer_link li {float:left; height:25px; text-align:center; letter-spacing:-1px;width:65px; }
.footer_link .center_line { background-image:url(/img/common/bottom_bg.jpg); background-position:0 3px ; background-repeat:no-repeat; padding0:0 5px; width:65px;}
.copyright {height:15px; line-height:15px; text-align:center; font-size:9px; font-family:Tahoma;}


/*폰트색상*/
.padding_3 {padding-top:3px;}
.orange {color:#f36d43;}
.org { color:#f44b41;}
.orange1{color:#F56307;}
.orange2{color:#e85901;} 
.orange3{color:#f55e04;}
.orange4{color:#f45600;}
.yell {color:#f58026;}
.ping {color:#d744a3;}
.ping1 {color:#b53e6e;}
.red {color:#ea002b;}
.red2{color:#f12d39;}
.red3{color:#ed1941;}
.red_bold {color:#ea002b; font-weight:bold; font-size:14px;}
.red_bold_12 {color:#ea002b; font-weight:bold; font-size:12px;}
.blue_bold {color:#3b90bb; font-weight:bold;}
.yellow_bold {color:#d89911; font-weight:bold;}
.black{color:#565656}
.black_1 {color:#3d3d3d; font-weight:bold;}
.black1{color:black;}
.gray{color:#888888;}
.gray2{color:#808080;}


/*메뉴*/
 a {padding:0;}
.submenu { padding:0; margin:0; border-top:1px solid #d5d5d5;}
.submenu li{background-image:url(/img/common/submenu_bg.jpg); background-position:0 0; background-repeat:repeat-x; height: 24px; padding:5px 10px; letter-spacing:-1px;}
.menu_icon {width:30px; float:left; text-align:left; height:25px;}
.menu_icon1 {width:30px; float:left; text-align:left; padding-top:3px }
.menu_text { line-height:27px; float:left; font-weight:bold; color:#7f7f7f; font-size:14px; letter-spacing:-1px;}
.menu_arr {width:6px; float:right; padding-top:5px;}

.menu_no { float:left; color:#f12d3a; font-size:14px; font-weight:bold;line-height:25px; width:30px; padding-right:3px; }
.menu_no2{ float:left; color:#61617E; font-size:14px; font-weight:bold;line-height:20px; width:30px;}


/*서브메뉴*/
.submenu1 { padding:0; margin:0; border-top:1px solid #fff;}
.submenu1 li{background-image:url(/img/common/submenu_bg.jpg); background-position:0 0; background-repeat:repeat-x; height: 24px; padding:5px 10px; letter-spacing:-1px;}

/* 패딩 & 마진 */
.pd-btm_5px{padding-bottom:5px;}
.pd-btm_7px{padding-bottom:7px;}
.pd-btm_10px{padding-bottom:10px;}
.pd-btm_15px{padding-bottom:15px;}
.pd-btm_20px{padding-bottom:20px;}
.pd-btm_30px{padding-bottom:30px;}


.pd_top_5px{padding-top:5px;}
.pd_top_10px{padding-top:10px;}
.pd_top_20px{padding-top:20px;}

.pd_left_10px{padding-left:10px;}
.pd_left_15px{padding-left:15px;}

.pd_right_10px{padding-right:10px;}

.pd_lr_d_10px{padding-left:10px; padding-right:10px;}


.pd_tb_d_5px{padding:5px 0;}
.pd_tb_d_10px{padding:10px 0;}


.mar_duble_10px{margin:10px 0;}
.mar_duble_20px{margin:20px 0;}

.mar_left_5px{margin-left:5px;}
.mar_left_8px{margin-left:8px;}
.mar_left_10px{margin-left:10px;}

.mar_btm_5px {margin-bottom:10px;}
.mar_btm_10px{margin-bottom:15px;}
.mar_btm_20px{margin-bottom:20px;}

.mar_top_3px{margin-top:3px;}
.mar_top_10px{margin-top:10px;}
.mar_top_20px{margin-top:20px;}

/* input */
.input{border:1px solid #cfcfcf; font-size:12px}

/* 정렬 */
.btn_right{text-align:right; padding-right:8px;}
.btn_center{text-align:center;}

.t_left{text-align:left;}
.t_cen{text-align:center;}
.t_right{text-align:right;}
.v_top{vertical-align:top;}
.v_middle{vertical-align:middle;}
.v_bottom{vertical-align:bottom;}



.st_title {background-image:url(/img/common/subtitl_icon.jpg); background-position:10px 10px; background-repeat:no-repeat; padding:10px 0 5px 20px; color:#000; font-weight:bold; font-size:14px; line-height:18px; text-align:left;}
.st_title_s {background-image:url(/img/common/subtitl_icon.jpg); background-position:10px 0; background-repeat:no-repeat; padding:0 0 0 20px; color:#000; font-weight:bold; font-size:14px; height:24px; text-align:left;}
.title_text { line-height:27px; font-size:14px;  float:left; font-weight:bold; color:#e85901;}
.st_text table {border-bottom:3px solid #f7984f;border-top:3px solid #f7984f;border-left:3px solid #f7984f;border-right:3px solid #f7984f; border-collapse:collapse; margin-bottom:10px;}
.st_text td {border-bottom:1px solid #e2e2e2; line-height:16px; text-align:right; padding:5px 15px; }
.st_text th {border-bottom:1px solid #e2e2e2; width:60px; border-right:1px solid #e2e2e2; padding:5px; background-color:#f4f4f4; font-weight: normal; color:#000;}
.st_text li { background-image: url(/img/common/icon.jpg);background-position:0 5px; background-repeat: no-repeat; padding:0 8px; line-height:18px; text-align:left; }
.st_text .p_left {text-align:left;}
.question {background-image:url(/img/common/question.jpg); background-position:0 0; background-repeat:no-repeat; padding:0 0 10px 22px; font-weight:bold; line-height:16px; font-size:14px; color:333;}
.question1 { padding:0 10px;}
.question1 li { background-image: url(/img/common/icon.jpg);background-position:0 5px; background-repeat: no-repeat; padding:0 8px 5px 8px; line-height:18px;text-align:left;  }

.btn_style {text-align:right; padding:15px 0 0 0;}
.btn1_style {text-align:center; padding:15px 0 0 0;}
.btn2_style {text-align:center; padding:0;}
.btn3_style {text-align:center; padding:0 0 15px 0;}

.error_text { font-weight:bold; font-size:14px; padding: 0 0 20px 0;}


/*드롭다운*/
.s_warp {width:100%; position:relative;border:0;}
.s_warp table { width:100%; border:0;}
.s_warp td {padding:0; margin:0; border:0;}
.s_warp .s_left { height:29px; padding:0; margin:0;}
.s_warp .s_right { height:29px; padding:0; margin:0;}
.s_warp .s_center1 { background-image: url(/img/common/search1_center.jpg); background-position:0 0; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left;font-weight:bold; letter-spacing:-1px; color:#333;}
.s_warp .s_center22 { background-image: url(/img/common/search1_center.jpg); background-position:0 1px; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left;font-weight:bold;letter-spacing:-1px; color:#333;}
.s_warp .arr_btn {float:right; height:29px; width:100%; text-align:right;}
.padding_style {padding:0 15px 5px 0 ;}

.input_box {border:0; height:16px; width:100%; padding:0; margin:0; font-size:11px; background-color:transparent;}
#s_list {width:100%;position:absolute;z-index:1110;top:0;left:0;padding:0;margin:0;visibility: hidden;}
#s_list .s_bg ul {padding:0; margin:0; list-style:none;background-color:#fff;}
#s_list .s_bg li {width:100%; height:25px; line-height:25px; text-align:left; font-size:14px; padding:0; margin:0; border-bottom:1px solid #e6e6e6; font-weight:bold;background-image:none; font-weight:bold;letter-spacing:-1px; color:#333;}
#s_list .s_bg {background-color:#fff; padding:0; margin:0;}
#s_list .s_list_table {float:left; width:100%;}


#s_list table {padding:0; margin:0; border:0; width:100%;}
#s_list td {padding:0; margin:0; height:5px; background-color:#fff;border:0; font-size:14px;}
#s_list .bottom { background-image: url(/img/common/saerch1_box_b.jpg); background-position:0 bottom; background-repeat:repeat-x;height:5px;}
#s_list .top { background-image:url(/img/common/saerch1_box_b.jpg); background-position:0 top; background-repeat:repeat-x; height:5px;}
#s_list .left { background-image:url(/img/common/saerch1_box_b.jpg); background-position:left 0; background-repeat:repeat-y; width:5px;}
#s_list .right { background-image:url(/img/common/saerch1_box_b.jpg); background-position:right 0; background-repeat:repeat-y; width:5px;}
#s_list .s_center1 { background-image:url(/img/common/search1_center.jpg); background-position:0 0; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left; font-weight:bold;letter-spacing:-1px; color:#333;}
#s_list a {color:#333;}
.inq_table002 td table {border:0;}
.inq_table002 td td {border:0; padding:0;}

/*드롭다운2*/
.s_warp2 {width:100%; position:relative;}
.s_warp2 table { width:100%; border:0; padding:0; margin:0;}
.s_warp2 td {padding:0; margin:0; border:0;}
.s_warp2 .s_left { height:29px; padding:0; margin:0;}
.s_warp2 .s_right { height:29px; padding:0; margin:0;}
.s_warp2 .s_center1 { background-image: url(/img/common/search1_center.jpg); background-position:0 0; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left;font-weight:bold;letter-spacing:-1px; color:#333;}
.s_warp2 .s_center22 { background-image: url(/img/common/search1_center.jpg); background-position:0 0; background-repeat:repeat-x; font-size:14px; line-height:27px; text-align:left;font-weight:bold;letter-spacing:-1px; color:#333;}

#s_list2 {width:100%;position:absolute;z-index:1;top:0;left:0;padding:0;margin:0;visibility: hidden;}
#s_list2 .s_bg2 ul {padding:0; margin:0; list-style:none;background-color:#fff;}
#s_list2 .s_bg2 li {width:100%; height:25px; line-height:25px; text-align:left; font-size:14px; padding:0; margin:0; border-bottom:1px solid #e6e6e6; list-style:none; background-image:none; font-weight:bold;letter-spacing:-1px; color:#333;}
#s_list2 .s_bg2 {background-color:#fff; padding:0; margin:0;}

#s_list2 table {padding:0; margin:0; border:0;}
#s_list2 td {padding:0; margin:0; height:5px; background-color:#fff;  border:0;}
#s_list2 .bottom { background-image: url(/img/common/saerch1_box_b.jpg); background-position:0 bottom; background-repeat:repeat-x;height:5px;}
#s_list2 .top { background-image:url(/img/common/saerch1_box_b.jpg); background-position:0 top; background-repeat:repeat-x; height:5px;}
#s_list2 .left { background-image:url(/img/common/saerch1_box_b.jpg); background-position:left 0; background-repeat:repeat-y; width:5px;}
#s_list2 .right { background-image:url(/img/common/saerch1_box_b.jpg); background-position:right 0; background-repeat:repeat-y; width:5px;}
#s_list2 .s_center1 { background-image:url(/img/common/search1_center.jpg); background-position:0 0; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left; font-weight:bold;letter-spacing:-1px; color:#333;}
#s_list2 a {color:#333;}

/*드롭다운3*/
.s_warp3 {width:100%; position:relative;}
.s_warp3 table { width:100%; border:0; padding:0; margin:0;}
.s_warp3 td {padding:0; margin:0; border:0;}
.s_warp3 .s_left { height:29px; padding:0; margin:0;}
.s_warp3 .s_right { height:29px; padding:0; margin:0;}
.s_warp3 .s_center1 { background-image: url(/img/common/search1_center.jpg); background-position:0 0; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left;font-weight:bold;letter-spacing:-1px; color:#333;}
.s_warp3 .s_center22 { background-image: url(/img/common/search1_center.jpg); background-position:0 1px; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left;font-weight:bold;letter-spacing:-1px; color:#333;}

#s_list3 {width:100%;position:absolute;z-index:1;top:0;left:0;padding:0;margin:0;visibility: hidden;}
#s_list3 .s_bg3 ul {padding:0; margin:0; list-style:none;background-color:#fff;}
#s_list3 .s_bg3 li {width:100%; height:25px; line-height:25px; text-align:left; font-size:14px; padding:0; margin:0; border-bottom:1px solid #e6e6e6; list-style:none; background-image:none; font-weight:bold;letter-spacing:-1px; color:#333;}
#s_list3 .s_bg3 {background-color:#fff; padding:0; margin:0;}

#s_list3 table {padding:0; margin:0; border:0;}
#s_list3 td {padding:0; margin:0; height:5px; background-color:#fff;  border:0;}
#s_list3 .bottom { background-image: url(/img/common/saerch1_box_b.jpg); background-position:0 bottom; background-repeat:repeat-x;height:5px;}
#s_list3 .top { background-image:url(/img/common/saerch1_box_b.jpg); background-position:0 top; background-repeat:repeat-x; height:5px;}
#s_list3 .left { background-image:url(/img/common/saerch1_box_b.jpg); background-position:left 0; background-repeat:repeat-y; width:5px;}
#s_list3 .right { background-image:url(/img/common/saerch1_box_b.jpg); background-position:right 0; background-repeat:repeat-y; width:5px;}
#s_list3 .s_center1 { background-image:url(/img/common/search1_center.jpg); background-position:0 0; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left; font-weight:bold;letter-spacing:-1px; color:#333;}

#s_list3 a {color:#333;}

/*드롭다운4*/
.s_warp4 {width:100%; position:relative;}
.s_warp4 table { width:100%; border:0; padding:0; margin:0;}
.s_warp4 td {padding:0; margin:0; border:0;}
.s_warp4 .s_left { height:29px; padding:0; margin:0;}
.s_warp4 .s_right { height:29px; padding:0; margin:0;}
.s_warp4 .s_center1 { background-image: url(/img/common/search1_center.jpg); background-position:0 0; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left;font-weight:bold;letter-spacing:-1px; color:#333;}
.s_warp4 .s_center22 { background-image: url(/img/common/search1_center.jpg); background-position:0 1px; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left;font-weight:bold;letter-spacing:-1px; color:#333;}

#s_list4 {width:100%;position:absolute;z-index:1;top:0;left:0;padding:0;margin:0;visibility: hidden;}
#s_list4 .s_bg4 ul {padding:0; margin:0; list-style:none;background-color:#fff;}
#s_list4 .s_bg4 li {width:100%; height:25px; line-height:25px; text-align:left; font-size:14px; padding:0; margin:0; border-bottom:1px solid #e6e6e6; list-style:none; background-image:none; font-weight:bold;letter-spacing:-1px; color:#333;}
#s_list4 .s_bg4 {background-color:#fff; padding:0; margin:0;}

#s_list4 table {padding:0; margin:0; border:0;}
#s_list4 td {padding:0; margin:0; height:5px; background-color:#fff;  border:0;}
#s_list4 .bottom { background-image: url(/img/common/saerch1_box_b.jpg); background-position:0 bottom; background-repeat:repeat-x;height:5px;}
#s_list4 .top { background-image:url(/img/common/saerch1_box_b.jpg); background-position:0 top; background-repeat:repeat-x; height:5px;}
#s_list4 .left { background-image:url(/img/common/saerch1_box_b.jpg); background-position:left 0; background-repeat:repeat-y; width:5px;}
#s_list4 .right { background-image:url(/img/common/saerch1_box_b.jpg); background-position:right 0; background-repeat:repeat-y; width:5px;}
#s_list4 .s_center1 { background-image:url(/img/common/search1_center.jpg); background-position:0 0; background-repeat:repeat-x; height:29px; font-size:14px; line-height:29px; text-align:left; font-weight:bold;letter-spacing:-1px; color:#333;}
#s_list4 a {color:#333;}

.th_cen_align .s_warp2 table {padding:0; margin:0; border:0;}
.th_cen_align .s_warp2 td {padding:0; margin:0; border:0;}


.ser_bg {background-image:url(/img/common/ser_bg.jpg); height:41px; background-position:0 0; background-repeat:repeat-x; }
.ser_title {padding:5px 0 8px 8px; height:21px; }
.ser_warp {padding:9px 15px 0 15px;}
.ser_text { height:25px; width:70px; float:left; line-height:25px; font-weight:bold; }
.ser_input {height:25px; width:100%; float:left; background-image:url(/img/common/search_bg.jpg); background-position:0 0; background-repeat: repeat-x; position:relative;}
.ser_input1 {height:25px; width:100%; float:left; background-image:url(/img/common/search_bg.jpg); background-position:0 0; background-repeat: repeat-x; position:relative;}
.ser_inputbox {height:25px; width:80%; background-image:url(/img/common/search_bg.jpg); background-position:0 0; background-repeat: repeat-x; padding:0; border:0; margin:0; }
.ser_btn {float:left; width:44px; position:absolute; z-index:222; right:-1px; top:0}
.ser_btn1 {float:right; width:95px; }

.ser_img {float:left; width:10px;}
.st{background-image:url(/img/common/s_bg.jpg); background-repeat:0 0; background-repeat:repeat-x; height:28px; line-height:28px;padding:0 0 5px 10px; font-size:14px; font-weight:bold; color:#fff;}
.st_text {padding:10px; }
.st_text2 {padding:10px; border-top:1px solid #ccc; }
.st_text2 li { background-image: url(/img/icon.jpg);background-position:0 5px; background-repeat: no-repeat; padding:0 8px; line-height:18px; }
.st_text3 {padding:10px; border-top:1px solid #ccc; line-height:16px; }
.st_text3 li { background-image: url(/img/icon.jpg);background-position:0 5px; background-repeat: no-repeat; padding:0 8px; line-height:18px; font-size:11px;}
.st_text3 table {border-bottom:3px solid #f7984f;border-top:3px solid #f7984f;border-left:3px solid #f7984f;border-right:3px solid #f7984f; border-collapse:collapse; margin-bottom:10px;}
.st_text3 td {border-bottom:1px solid #e2e2e2; line-height:16px; text-align:right; padding:5px 15px 5px 15px; }
.st_text3 th {border-bottom:1px solid #e2e2e2; width:60px; border-right:1px solid #e2e2e2; padding:5px; background-color:#f4f4f4; font-weight: normal; color:#000;}
.st_text3 li { background-image: url(/img/icon.jpg);background-position:0 5px; background-repeat: no-repeat; padding:0 8px; line-height:18px; }


.ser_input .search_input1 {width:100%; height:20px; border:0; line-height:20px; background-image:url(/img/common/search_bg.jpg); background-position:0 0; background-repeat:repeat-x; }
.search_input2  {width:100%; height:22px; border:0; line-height:22px; background-image:url(/img/common/search_bg.jpg); background-position:0 0; background-repeat:repeat-x; }
.ser_input .center {float:left; width:75%;}

.ser_input22 {height:25px; float:left; background-image:url(/img/common/search_bg.jpg); background-position:0 0; background-repeat: repeat-x; position:relative;}
.ser_warp table {padding:0; margin:0; width:100%}
.ser_warp td{padding:0; margin:0;}
