@charset "utf-8";

#main {background:#f0f0ee; font-family: 'Malgun Gothic','맑은 고딕',sans-serif;min-width:320px;}	
#main section {margin-bottom:0px;}
#main_content {border-bottom:1px solid #c1c1c1; padding:0 10px;}

/* header  - 상단 검색창 부분 */
#main_header {background:#fff; height:38px; width:100%; border-bottom:#dbdbd8; position:relative; padding-top:7px;border-top:1px solid #ebebec;border-bottom:1px solid #b1b4b8;}
#main_header h1 {width:30px; height:32px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position:0 0; position:absolute; left:10px; top:50%; margin-top:-16px;}
#main_header h1 img {outline:none;}
#main_header h1 a {display:block; width:100%; height:100%;}		
#main_header .all_menu_btn {width:26.5px; height:24.5px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position:-44px 3px; position:absolute; right:5.5px; top:50%; margin-top:-12.5px;font-size:0;line-height:0;text-indent:-99999px;}
/* 2015-08-20 수정 [s] */
#main_header .m_search {margin:0 52px; height:29px; position:relative; border:1px solid #d4d6d7;border-radius:15px; -moz-border-radius: 15px; -webkit-border-radius:15px; padding-left:13px; padding-right:40px;}
#main_header .m_search input {display:block;width:100%;height:23px;padding:4px 0 2px;border:0 none;font-size:13px;line-height:1;color:#89919c;background-color:transparent;text-indent:3px;white-space:nowrap}
#main_header .m_search input::-webkit-input-placeholder {line-height:1}
#main_header .m_search input::-moz-input-placeholder {line-height:1}
/* 2015-08-20 수정 [e] */

/*
#main_header .m_search > a {display:block; width:15.5px; height:15.5px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position:100% -40px; position:absolute; top:7px; right:10px;}
*/
#main_header .m_search > a {display:block; width:15.5px; height:15.5px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position: 105% -33px; position:absolute; top: 0; right: 7px;padding: 7px;}

#main_header .m_search > button {display:block; width:30px; height:30px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position: 105% -33px; position:absolute; top: 0; right: 7px;font-size:0;line-height:0;text-indent:-9999px;}

/* 자동완성기능 */
#main .search_auto_text {position:absolute; z-index:9999; left:50%; top:30px; margin-left:-50%; width:100%; display:none;}
#main .search_auto_text ul {position:relative; margin:0 12px; border:1px solid #d4d6d7; border-top:none; padding:7px 0;}
#main .search_auto_text ul li { border-bottom:none; background:#fff;}	
#main .search_auto_text ul li a {padding:5px 10px;}

/* t notice - T 알림 */
#t_notice {height:45px; width:100%; background:url(/img/main/bg_repeat.png) repeat-x 0 0; background-size:100% 45px; line-height:45px; position:relative; display:none;}/* 2014-04-09 background-size:2px 45px; 수정 */
#t_notice p {font-size:13px; font-weight:bold; color:#fff;  text-align:left;}
#t_notice p img {height:45px;}
/*
#t_notice .hide_txt {display:block; width:14.5px; height:14.5px; position:absolute; top:14.5px; right:10px; background-image:url(/img/main/icons.png); background-repeat:no-repeat;  background-size:155px 172.5px; background-position:100% -95px;padding-bottom:15px;padding-right:20px;}
*/
#t_notice .hide_txt {display:block; width:14.5px; height:14.5px; position:absolute; top: 4.5px; right: 0px; background-image:url(/img/main/icons.png); background-repeat:no-repeat;  background-size:155px 172.5px; background-position: 114% -86px;padding: 13px;}

/* personal_info */
#personal_info { height:15px; padding:9px 0; font-size:97%; font-weight:bold; position:relative;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:17px; overflow:hidden; width:100%;}
#personal_info.text_only {padding-left:5px; text-align:left;}
#personal_info span {display:block; height:17px; line-height:15px; text-align:left;  position:relative; margin:0px; float:left;}
#personal_info span:first-of-type {width:30%; border-right:1px solid #d4d6d7; border-left:0px; text-align:center; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#personal_info span:nth-of-type(2){ width:40%; text-align:center; padding-left:0px; text-align:center; background: url(/img/main/gray_dot.gif) repeat-y 100% 0; background-size:1px 1px;border-left:1px solid #fff; border-right:1px solid #fff; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#personal_info span:last-of-type { text-align:center; width:25%; margin:0 5px; border-right:0px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; vertical-align:top;-o-text-overow: ellipsis;-moz-binding:url(js/ellipsis.xml#ellipsis)undefinedundefinedundefined;}

/*#p_Charge {width:90% !important;margin:0 5px !important;}*/

#personal_info span:first-of-type button,
#personal_info span:first-of-type a { width:35px; background-position:0 -120px; margin-top:-1px; display:inline-block; height:18px; background-image:url(/img/main/icons.png); background-repeat:no-repeat;  background-size:155px 172.5px; vertical-align:top;font-size:0;line-height:0;text-indent:-99999px;}
/*
#personal_info span:first-of-type a { width:43px; background-position:0 -146px; margin-top:-1px; display:inline-block; height:20px; background-image:url(/img/main/icons.png); background-repeat:no-repeat;  background-size:188px 210px; vertical-align:top;}
*/
#personal_info span strong {display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:49px; font-weight:bold;}
#personal_info span select {font-weight:bold; border:none; background:none; -webkit-appearance: none; text-align:left;}
/*#personal_info span.img_span {background:url(/img/main/img_arw.png) no-repeat 95.5% 1px; background-size:15.5px 15px;}*/
#personal_info span.only_name {width:65px; border:none;}
#personal_info span.only_name a {top:1px;}
#phone_num {width:300px; padding-bottom:10px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; background:#fff; margin:0 auto; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:fixed; top:80px; left:50%; margin-left:-150px; border:1px solid #c8cbce;}/*2015-09-07 수정*/

#sel_wrap { height:172px; margin:10px; overflow:hidden; position:relative;} /* 2013-11-15 추가된 부분  */
#sel_wrap #pNum{width:100%;}/*2015-09-07 수정*/
#phone_num  ul  li {height:37px; border-bottom:1px solid #d6d6d6; padding:0 10px;}
#phone_num  li a  {display:block; padding: 5px 0 8px 33px; background: url(/images/ico/icon_radio_default.png) no-repeat 0 4px; font-size: 13px;height: 17px;margin-top: 5px; background-size:20px 20px;}
#phone_num  li a.checked  {display:block; padding: 5px 0 8px 33px; background: url(/images/ico/icon_radio_check.png) no-repeat 0 4px; font-size: 13px;height: 17px;margin-top: 5px; background-size:20px 20px;}
#phone_num h4 {background: url('/img/wire/bg_pop_header.png') repeat-x left bottom; font-size:15px; height:35px; padding:6px 10px 0 10px; width:100%; border-top-left-radius:5px; -moz-border-top-left-radius:5px; -webkit-border-top-left-radius:5px; border-top-right-radius:5px; -moz-border-top-right-radius:5px; -webkit-border-top-right-radius:5px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#phone_num button:first-of-type {margin-right:7px;}
#sel_phone b {margin-left:2px; display:inline-block; height:17px; background-image:url(/img/main/icons.png); background-repeat:no-repeat;  background-size:155px 172.5px; background-position:-55px -40px; vertical-align:top; padding-right:15px;}
#phone_num .layer_close {position:absolute; top:5px; right:0; width:26px; height:24px; background:url(/images/btn/btn_layer_close.png) no-repeat 0 0; font-size:0; line-height:0; text-indent:-5000px;}

/* data_info -  멤버십/잔여기본통화/실시간 요금  */
#data_info {width:100%; text-align:center; position:relative;  min-width:300px; /* height:131px; min-width:330px; */ padding-bottom:15px; height:120px;}
#data_info ul {/*width:330px; height:120px; padding:0 10px 11px 0; position:absolute; top:0; left:50%; margin-left:-165px; 
               background:url(/img/main/bg_info.png) no-repeat 100% 100%; background-size:340px 131px;*/
               width:100%; height:100%; border:1px solid #bfbfbf; background:#fff; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px;
               height:35px; padding-top:85px; box-shadow:5px 5px 10px 0px #d2d0d0;}
#data_info ul> li {width:33%; float:left; height:100%; border-right:1px solid #e2e2e1;box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#data_info ul> li:last-of-type {border-right:none;}
#data_info li h3 span {display:block; width:17.5px; height:17.5px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; position:absolute; top:0px; left:-2px;}
#data_info li h3 a  {padding-left:16px; font-size:12px; letter-spacing:-1px; color:#656c78; line-height:35px; font-weight:bold; vertical-align:top;}
#data_info li.on > a {color:#293039;}
#data_info li.meb1 h3 span {background-position:2.5px -93px;}
#data_info li.meb2 h3 span {background-position:-27px -93px;}
#data_info li.meb3 h3 span {background-position:-58.5px -93px;}
#data_info li.meb1.on h3 span {background-position:2.5px -72px;}
#data_info li.meb2.on h3 span {background-position:-27px -72px;}
#data_info li.meb3.on h3 span {background-position:-58.5px -72px;}
#data_info li.meb3 {width:34%;}

.meb_sub {width:100%; height:86px; position:absolute; top:0; left:0; padding-right:2px; background:#263242; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px; display:none;}	.meb_sub2 {width:100%; height:86px; position:absolute; top:0; left:0; padding-right:2px; background:#263242; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px; display:none;}
.meb_sub2 {width:100%; height:86px; position:absolute; top:0; left:0; padding-right:2px; background:#263242; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px; display:none;}	.meb_sub2 {width:100%; height:86px; position:absolute; top:0; left:0; padding-right:2px; background:#263242; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px; display:none;}	
.sub_arw {width:15px; height:5px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position:0 -40px; position:absolute; display:none;}
#data_info .meb1 .meb_sub_con { height:64px; background:#fff; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px; margin:0 15px; margin-top:9px; line-height:65px; position:relative;padding-top:2px;}
#data_info .meb1 .sub_arw {top:86px; left:15%;}
#data_info .meb2 .sub_arw {top:86px; left:49%;}
#data_info .meb3 .sub_arw {top:86px; right:15%;}
#data_info .meb1 .meb_sub_con  img {width:182px; height:50px; margin-top:9px;}
#data_info .meb1 .zoom {display:block; /*width:17.5px; height:17.5px;*/ position:absolute; bottom:8px; right:8px;
            /*background-image:url(/img/main/top_icon.png); background-repeat:no-repeat; background-size:100px 60px; background-position:-34px 0px;*/ }
            
            
#data_info .meb2 ol {padding-top:16px; margin-left:15px; }
#data_info .meb2 ol li {height:13px; margin-bottom:7px; width:100%; clear:both; border:none; text-align:left; color:#fff; font-size:11px;line-height:13px; letter-spacing:0px; position:relative;}
#data_info .meb2 ol li h4 {width:85px; height:100%; position:absolute; left:0px; top:0; overflow:hidden; text-overflow:ellipsis; white-space: nowrap; }
#data_info .meb2 ol li p {width:90px; height:100%; position:absolute; right:0px; top:0; text-align:left;}
#data_info .meb2 ol li.sms_mms h4 {letter-spacing:0;}

#data_info .graph {height:10px; background:#1d2938; border:1px solid #1c2532;  margin-left:87px; margin-right:100px;
                   border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; text-align:right;}
#data_info .graph_bar { background-image:url(/img/main/bar.png); background-repeat:repeat-x; background-size:3px 51px; height:10px;
border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;  float:right; position:relative; display:block;}
#v_call .graph_bar {background-position:0 0px;}
#sms_mms .graph_bar {background-position:0 -21px;}
#d_call .graph_bar {background-position:0 -41px;}

#data_info .meb_txt {font-size:12px; color:#fff; line-height:18px; font-weight:bold; margin:10px 10px 0 10px;} /* 2013-12-02 웹접근성 margin-top:10 수정 */
#data_info .mbtn_t1 {font-size:11px; color:#fff; width:70px; height:23px; display:inline-block; text-align:center; line-height:22px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; background:#ee821f; margin-top:7px; margin-left:3px;}
#data_info .mbtn_t1.red {background:#ec2a4f;}
#data_info .mbtn_t1.wide {width:110px;}
#data_info .mmore {width:18px; height:21.5px; background-image:url(/img/main/icons.png); background-repeat:no-repeat;  background-size:155px 172.5px; background-position: 100% 0;
position:absolute; top:54px; right:-3px;}
#data_info .meb3 ol {width:175px; padding-top:13px; padding-left:25px; positon:relative;}
#data_info .meb3 li {text-align:left; color:#fff; height:29px; position:relative; font-size:11px; line-height:28px;}
#data_info .meb3 li:first-of-type {border-bottom:1px solid #1c2532;}
#data_info .meb3 li:first-of-type p {background-position:0 8px;}
#data_info .meb3 li:last-of-type { border-top:1px solid #2e3a4b;}
#data_info .meb3 li:last-of-type p {background-position:0 -23px;}
#data_info .meb3 li p {width:52px; position:absolute; height:100%; background-image:url(/img/main/txt_s1.png); background-repeat:no-repeat; background-size:39.5px 42px;}
#data_info .meb3 li span {display:block; padding-left:50px;}
#data_info .meb3 .btn_wrap {position:absolute; width:75px; top:16px; right:20px;}
#data_info .mbtn_t1.mbtn_block {display:block; height:25px; margin:0px; margin-bottom:4px;}
#data_info .gray {background:#7d8188;}
/*2015-01-13 추가*/
#data_info .meb3 dl {width:175px; padding-top:20px; padding-left:25px; positon:relative;font-size:11px;line-height:28px; }
#data_info .meb3 dt {position:absolute;width:52px; height:20px;/* background-image:url(/img/main/txt_s1.png)*/;}
#data_info .meb3 dt img {position:relative;top:-6px;height:12px;}
#data_info .meb3 dd {padding-left:55px;margin:-8px 0 10px 0;text-align:left; color:#fff;border-bottom:1px solid #1c2532;}
#data_info .meb3 dd:last-child {border-bottom:none;}

/* 2014-08-12 [s] */
/* main_menu */
#main_menu {position:relative; text-align:center; padding-bottom:20px;}
/*background-image:url(/img/main/menu_640.png); background-repeat:no-repeat; background-size:330px 233px;*/
#main_menu >ul { width:100%; min-width:300px; margin:0 auto; position:relative; border:1px solid #c9cbd0;  overflow:hidden;}
#main_menu >ul:after {content:'';display:block; clear:both;}
#main_menu >ul:first-of-type {background-position:1px 0; border-top-left-radius:8px; -moz-border-top-left-radius: 8px; -webkit-border-top-left-radius:8px; border-top-right-radius:8px; -moz-border-top-right-radius: 8px; -webkit-border-top-right-radius:8px; border-bottom:0px;}	
#main_menu >ul:nth-of-type(2) {background-position:1px -80px; border-top:0px; border-bottom:0px;}
#main_menu >ul:last-of-type {background-position:1px -160px; border-bottom-left-radius:8px; -moz-border-bottom-left-radius: 8px; -webkit-border-bottom-left-radius:8px; border-bottom-right-radius:8px; -moz-border-bottom-right-radius: 8px; -webkit-border-bottom-right-radius:8px; border-top:0px;}
#main_menu >ul >li {float:left; /*border-top:1px solid #fff; border-left:1px solid #fff;*/  -moz-box-sizing:border-box; }
#main_menu >ul >li > a {width:100%; height:78px; display:block; position:relative; border-bottom:1px solid #c9cbd0; border-left:1px solid #fff; border-top:1px solid #fff;}		
#main_menu >ul >li > button {width:100%; height:80px; display:block; position:relative; border-bottom:1px solid #c9cbd0; border-left:1px solid #fff; border-top:1px solid #fff;font-size:0;line-height:0;text-indent:-99999px;outline:0;}	
#main_menu .m_title {display:block; position:absolute; left:9px; top:23px; background-image:url(/img/main/menu_640_20140723.png); background-repeat:no-repeat; background-size:330px 233px; width:90px; height:14px;}
#main_menu .m_icon {display:block; width:70px; height:50px; position:absolute; right:0; bottom:0; background-image:url(/img/main/menu_640_20140723.png); background-repeat:no-repeat; background-size:330px 233px;}
#main_menu .on > button,
#main_menu .on > a { background-color:#3e4d62; border:none; height:80px; border-bottom:1px solid #3e4d62;}

#main_menu .mmenu_1{width:33% !important;border-top-left-radius:8px;-moz-border-top-left-radius:8px;-webkit-border-top-left-radius:8px;background:url(/img/main/gray_dot.gif) repeat-y 100% 0;background-size: 1px 1px;}
#main_menu .mmenu_1 button{border-top-left-radius:8px; -moz-border-top-left-radius: 8px; -webkit-border-top-left-radius:8px;}
#main_menu .mmenu_1 .m_title{background-position:-7px -14px; top:10px; left:5px;}
#main_menu .mmenu_1 .m_icon{background-position:-40px -27px;}	

#main_menu .mmenu_2{width:33% !important; background: url(/img/main/gray_dot.gif) repeat-y 100% 0;background-size: 1px 1px;}
#main_menu .mmenu_2 .m_title{background-position:-117px -14px; top:10px; left:5px;}
#main_menu .mmenu_2 .m_icon{height:48px;background-position:-150px -29px;}	

#main_menu .mmenu_3 {width:34% !important;}
#main_menu .mmenu_3 button {border-top-right-radius:8px; -moz-border-top-right-radius:8px;-webkit-border-top-right-radius:8px;width:101%;}
#main_menu .mmenu_3 .m_title {background-position:-227px -14px; top:10px; left:5px;}
#main_menu .mmenu_3 .m_icon {height:48px;background-position:100% -29px;}	

#main_menu .mmenu_4 {width:33% !important; background:url(/img/main/gray_dot.gif) repeat-y 100% 0; background-size:1px 1px; /*height:92px;*/}
#main_menu .mmenu_4 .m_title {width:100px;background-position:-7px -90px; top:10px; left:5px;}
#main_menu .mmenu_4 .m_icon {height:48px;background-position:-40px -106px;}	

#main_menu .mmenu_5 {width:33% !important;background: url(/img/main/gray_dot.gif) repeat-y 100% 0;background-size: 1px 1px;}
#main_menu .mmenu_5 .m_title {background-position:-116px -90px; top:10px; left:5px;}
#main_menu .mmenu_5 .m_icon {background-position:-150px -104px;}

#main_menu .mmenu_6 {width:34% !important;}
#main_menu .mmenu_6 .m_title {height:15px;background-position:-227px -90px; top:10px; left:5px;}
#main_menu .mmenu_6 .m_icon {background-position:99% -104px}

#main_menu .mmenu_7 {width:33% !important; background:url(/img/main/gray_dot.gif) repeat-y 100% 0; background-size:1px 1px;}
#main_menu .mmenu_7 > a {border-bottom:0px;}
#main_menu .mmenu_7 > button {border-bottom:0px;}
#main_menu .mmenu_7 .m_title {background-position:-7px -168px; top:10px; left:5px;}
#main_menu .mmenu_7 .m_icon {background-position:-40px -182px;}	

#main_menu .mmenu_8 {width:33% !important;background:url(/img/main/gray_dot.gif) repeat-y 100% 0; background-size:1px 1px;} 
#main_menu .mmenu_8 > a {border-bottom:0px; }
#main_menu .mmenu_8 > button {border-bottom:0px;}
#main_menu .mmenu_8 .m_title {width:60px;background-position:-117px -169px; top:10px; left:5px;}
#main_menu .mmenu_8 .m_icon {width:60px;background-position:-159px -180px;}

#main_menu .mmenu_9 {width:34% !important;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-bottom-right-radius:8px; -moz-border-bottom-right-radius: 8px; -webkit-border-bottom-right-radius:8px;} 
#main_menu .mmenu_9 > a {border-bottom:0px;}
#main_menu .mmenu_9 > button {border-bottom:0px; width:101%; }
#main_menu .mmenu_9 .m_title {background-position:-226px -168px; top:10px; left:5px;}
#main_menu .mmenu_9 .m_icon {background-position:100% -182px; border-bottom-right-radius:8px; -moz-border-bottom-right-radius: 8px; -webkit-border-bottom-right-radius:8px;}	


#main_menu strong {position:absolute;display:block;width:32px;height:12px;top:27px;left:5px;background-image:url(/img/main/icon_new.png);background-repeat:no-repeat;background-size:32px 12px;}
#main_menu .m_sub_menu .new_icon {position:relative;top:3px;left:1px;}
#main_menu .m_sub_menu .new_icon img {width:32px; padding:0 0 0 3px;}


#main_menu strong {position:absolute;display:block;width:32px;height:12px;top:27px;left:5px;background-image:url(/img/main/icon_new.png);background-repeat:no-repeat;background-size:32px 12px;}
#main_menu .m_sub_menu .new_icon {position:relative;top:3px;left:1px;}
#main_menu .m_sub_menu .new_icon img {width:32px;height:12px;}

#main_menu .m_sub_menu {position:relative; background:#fff; overflow:hidden;}
#main_menu .m_sub_menu  li {position:relative; width:50%; height:43px; border:none; font-size:11px; font-weight:bold; line-height:43px; text-align:left; letter-spacing:-1px; float:left; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#main_menu .m_sub_menu  li:nth-child(2n)  { width:50%; height:43px; /*border-left:1px solid #e3ecf4;*/ border-right:0px;  }
#main_menu .m_sub_menu  li:last-child {border-bottom:none !important;}

#main_menu .m_sub_menu  li a {display:block; height:100%; margin-left:10px; padding:0; border-right:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; border-top:1px solid #f4f4f4; color:#333; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#main_menu .m_sub_menu  li:nth-child(even) a {margin:0 10px 0 0; padding:0 0 0 10px; border-right:0;}
#main_menu .m_sub_menu  li:nth-child(1n+1) a {border-top:0;}
#main_menu .m_sub_menu  li:last-child a {border-bottom:none !important;}
#main_menu .m_sub_menu  li span.arr {position:absolute; right:5px; top:16px; width:13px; height:21px; background:url(/img/main/main_2depth_arrow.png) no-repeat 0 0; background-size:8px; vertical-align:-2px; overflow:hidden;}
#main_menu  >ul >li .arw  {width:19px; height:8.5px; background-image:url(/img/main/main_arw.png); background-repeat:no-repeat; background-size:19px 8.5px; position:absolute; background-position:0 0; display:none;}

#main_menu .mmenu_1 .m_sub_menu,#main_menu .mmenu_4 .m_sub_menu,#main_menu .mmenu_7 .m_sub_menu {width:303%; top:0px; left:0; display:none;}
#main_menu .mmenu_2 .m_sub_menu,#main_menu .mmenu_5 .m_sub_menu,#main_menu .mmenu_8 .m_sub_menu {width:303%; top:0; right:100%; display:none;}
#main_menu .mmenu_3 .m_sub_menu,#main_menu .mmenu_6 .m_sub_menu,#main_menu .mmenu_9 .m_sub_menu{width:294%; top:0px; right:194%; display:none;}

#main_menu .mmenu_1 .arw,#main_menu .mmenu_4 .arw,#main_menu .mmenu_7 .arw{top:80px; left:17.3%; margin-left:-9px;}
#main_menu .mmenu_2 .arw,#main_menu .mmenu_5 .arw,#main_menu .mmenu_8 .arw{top:80px; right:50%; margin-right:-9px;}
#main_menu .mmenu_3 .arw,#main_menu .mmenu_6 .arw,#main_menu .mmenu_9 .arw{top:80px; right:14.6%; margin-left:-9px;}

#main_menu .mmenu_1 .m_sub_menu,
#main_menu .mmenu_2 .m_sub_menu,
#main_menu .mmenu_3 .m_sub_menu,
#main_menu .mmenu_4 .m_sub_menu,
#main_menu .mmenu_5 .m_sub_menu,
#main_menu .mmenu_6 .m_sub_menu {border-bottom: 1px solid #c9cbd0;}

/*#main_menu .mmenu_5 .m_sub_menu {width:299.2%; top:0px; left:-199.5%; display:none;}
#main_menu .mmenu_5 .arw {top:81px; right:16.6%; margin-right:-9.5px;}
*/

#main_menu .mmenu_7 .m_sub_menu { border-top:1px solid #c9cbd0; border-bottom-left-radius:8px; -moz-border-bottom-left-radius: 8px; -webkit-border-bottom-left-radius:8px;
 border-bottom-right-radius:8px; -moz-border-bottom-right-radius: 8px; -webkit-border-bottom-right-radius:8px;}
#main_menu .mmenu_7 .arw {top:80px;}

#main_menu .mmenu_8 .m_sub_menu { border-top:1px solid #c9cbd0; border-bottom-left-radius:8px; -moz-border-bottom-left-radius: 8px; -webkit-border-bottom-left-radius:8px;
 border-bottom-right-radius:8px; -moz-border-bottom-right-radius: 8px; -webkit-border-bottom-right-radius:8px;}
#main_menu .mmenu_8 .arw {top:80px;}

#main_menu .mmenu_9 .m_sub_menu { border-top:1px solid #c9cbd0; border-bottom-left-radius:8px; -moz-border-bottom-left-radius: 8px; -webkit-border-bottom-left-radius:8px;
 border-bottom-right-radius:8px; -moz-border-bottom-right-radius: 8px; -webkit-border-bottom-right-radius:8px;}
#main_menu .mmenu_9 .arw {top:80px;}
#main_menu .m_sub_menu  li.last_line_hide {border-bottom:none;}
/* 2014-08-12 [e] */	

/* banner */
#banner {width:100%; position:relative; padding-bottom:34px;}
#banner img{ border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px; /*width:298px;*/height:76px;}
.b_arw { display:block; width:20px; height:20px;  background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; position:absolute; top:30px; z-index:50;text-indent:-999px;font-size:0;}
.arw_l {left:-9px; background-position:-80px 0px;}
.arw_r {right:-9px; background-position:-107px 0px; }
.b_paging {position:absolute; bottom:9px; left:50%; width:100%; height:21px; margin-left:-50%; text-align:center;}
#banner ul  { height:78px; width:100%; overflow:hidden; min-width:300px;}
#banner ul li {display:none; text-align:center; height:76px; background:#fff; min-width:298px; overflow:hidden;}
#banner ul li a {display:block;}
#banner ul li.c_page {display:block; border:1px solid #c6c5c3;border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px;}

.b_paging button,
.b_paging a {display:inline-block; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; vertical-align:middle; position:relative;}
.b_paging span {display:inline-block; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; vertical-align:middle; position:relative;}
.b_paging span img {width:9px !important; height:9px !important;position:absolute;left:-1px;}
.b_page {width:9px; height:10px; background-position:-84px -65px; text-indent:-99999px;}
.b_page.on {background-position:-95px -65px;}
.b_paging .bplay_btn {width:18.5px; height:18.5px; background-position:-105px -40px; position:absolute; left:65%; top:0;text-indent: -999px;font-size: 0;}
.bplay_btn.b_play {width:18.5px; height:18.5px; background-position:-84px -40px;}
/* 2014-08-22 */
#banner_sec {line-height:0;margin-bottom:15px;}
#banner_sec a{display:block;width:100%;height:65px;border:1px solid #c6c5c3;border-radius:5px;background:#dbedf7 url(/img/main/main_topBanner_sec.png) no-repeat 50% 0;text-indent:-99999px;color:transparent;background-size:300px 65px;}

/* 2014-12-05 */
#letterBanner {position:relative; width:100%;}
#letterBanner.banner_top {visibility:hidden; height:0; margin:0;}
#letterBanner.banner_top.show {visibility:visible; height:100%; margin-bottom:10px;}
#letterBanner.banner_top .year100 a{background:url(/img/main/main_topBanner_year100_bg.png) repeat-x 50% 0,url(/img/main/main_topBanner_year100.png) no-repeat 50% 0;border:0px solid #c6c5c3; border-radius:5px; background-size:53px 3px, 295px 63px;text-indent: -999px;font-size: 0;}

#randomBanner {position:relative; width:100%;}
#randomBanner.banner_top {visibility:hidden; height:0; margin:0;}
#randomBanner.banner_top.show {visibility:visible; height:100%; margin-bottom:10px;}

.banner_top a {display:block; width:100%; height:63px; overflow:hidden; text-align:center;}
.banner_top a img {height:63px;}
.banner_top .banner_cont {width:auto; overflow:hidden; padding:0 0 20px 0;}
.banner_top .banner_cont .banner_wrap {position:relative; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:#ccc solid 1px; background:#fff;}
.banner_top .rb_arw {display:block; position:absolute; top:22px; z-index:50; width:20px; height:20px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; text-indent:-999px;font-size:0;}
.banner_top .arw_le {left:-9px; background-position:-80px 0px;}
.banner_top .arw_ri {right:-9px; background-position:-107px 0px; }
.banner_top .banner_list {height:63px;}
.banner_top .banner_list .banner_view {display:block !important;}
.banner_top .banner_list .banner_view img {height:60px;}
.banner_top .banner_nav {position:absolute; top:68px; width:100%; height:21px; text-align:center;}
.banner_top .stop_play button,
.banner_top .banner_nav a,
.banner_top .banner_nav span {display:inline-block; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; vertical-align:middle; position:relative;}
.banner_top .banner_nav span.swiper-pagination-switch {width:10px; height:10px; margin:0 1px; background-position:-84px -65px; text-indent:-99999px;}
.banner_top .banner_nav span.swiper-active-switch {background-position:-95px -65px;}
.banner_top .stop_play {position:absolute; left:65%; top:70px; z-index:1; font-size:0;}
.banner_top .stop_play .btn_bnr_stop {width:19px; height:19px; background-position:-105px -40px; text-indent:-999px; font-size:0;}
.banner_top .stop_play .btn_bnr_stop.hidden {visibility:hidden; width:0; height:0;}
.banner_top .stop_play .btn_bnr_play {width:18.5px; height:18.5px; background-position:-84px -40px; text-indent:-999px; font-size:0;}
.banner_top .stop_play .btn_bnr_play.hidden {visibility:hidden; width:0; height:0;}



.line_border {margin-bottom:12px;border:1px solid #c6c5c3;border-radius:5px;overflow:hidden; text-align:center;background:#fccf00;}
.line_border a img {width:327px;}


/* 2014-11-07 [s]*/
.banner_top li.n01 a {background:#e9eaeb url(/img/main/main_topBanner_n01.png) no-repeat 50% 0;background-size:300px 65px;}
.banner_top li.n02 a {background:#e8ede0 url(/img/main/main_topBanner_n02.png) no-repeat 50% 0;background-size:300px 65px;}
.banner_top li.n03 a {background:#edeae3 url(/img/main/main_topBanner_n03.png) no-repeat 50% 0;background-size:300px 65px;}
.banner_top li.n04 a {background:#dde7ea url(/img/main/main_topBanner_n04.png) no-repeat 50% 0;background-size:300px 65px;}
/* 2014-11-07 [e]*/
/* 즐겨찾기 */
#bookmark {padding-bottom:25px; position:relative;}
#bookmark h2 {height:14px; background-image:url(/img/main/titles.png); background-repeat:no-repeat; background-size:89px 62px; margin-bottom:10px; background-position:5px 0;}
#bookmark ul {overflow:hidden; width:100%; padding-left:1%;}
#bookmark ul li { float:left; width:48.5%; height:36px; background-color:#fff; border:1px solid #d2d2d2; border-radius:8px; -moz-border-radius: 8px;
 -webkit-border-radius:8px; box-shadow: 1px 1px 1px #c0c0be; margin-right:5px; margin-bottom:3px; }
#bookmark ul li:nth-child(2n) {margin-right:0px;}
#bookmark ul li a {display:block; padding-left:38px; padding-top:5px; line-height:25px; position:relative; color:#555; font-weight:bold;}
#bookmark ul li a span { display:inline-block; width:25px; height:25px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:116px 250px; position:absolute; left:8px; top:6px;}
#bookmark .main_m9 { background-color:#f6f6f4;}
#bookmark .main_m9 a { color:#888;}
#bookmark .main_m1 span {background-position:0 -62px;}
#bookmark .main_m2 span {background-position:-44.5px -62px;}
#bookmark .main_m3 span {background-position:0 -103px;}
#bookmark .main_m4 span {background-position:-44.5px -103px; }
#bookmark .main_m5 span {background-position:0 -144px;}
#bookmark .main_m6 span {background-position:-44.5px -144px;}
#bookmark .main_m7 span {background-position:0 -185px;}
#bookmark .main_m8 span {background-position:-44.5px -185px;}
#bookmark .main_m9 span {background-position:0 -226px;}
.bookmark_more {display:block; width:47px; height:11px; position:absolute; top:2px; right:5px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:116px 250px;
    background-position: -45px -30px;}

/* 추천 기본요금제 , 추천 부가서비스 */
#service_rate { overflow:hidden; padding-bottom:29px;}
#service_rate .rate { float:left; width:49%;}
#service_rate .service {float:right; margin-right:1px; width:49%;}

#service_rate h2 {height:24px;padding-left:5px;}
#service_rate h2 img {margin-bottom:10px;}
.rate h2 {background-position:5px -24px;}
.service h2 {background-position:5px 100%;}

#service_rate ul {background-color:#fff; with:100%; border:1px solid #d2d2d2; padding:3px 15px; border-radius:8px; -moz-border-radius: 8px;
 -webkit-border-radius: 8px; /*box-shadow: 1px 1px 1px #c0c0be;*/}
#service_rate li {width:100%; height:40px; line-height:40px; border-bottom:1px solid #d6d6d6; font-weight:bold; position:relative;}
#service_rate li:last-of-type {border:0px;}
#service_rate li a {color:#555; width:90%; display:block; height:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overow: ellipsis;-moz-binding:url(js/ellipsis.xml#ellipsis)undefinedundefinedundefined}
#service_rate li span {display:block; width:7px; height:11px; background:url(/img/main/icons.png) no-repeat -121px -65px; background-size:155px 172.5px; position:absolute; top:50%; right:0; margin-top:-5px;}

/* 공지사항 및 copyright*/
.notice { background:#dcdcdc; border-top:1px solid #eee; padding:11px 15px; text-align:center;margin:0 !important;}	
#notice {border-bottom:1px solid #c1c1c1; font-size:12px; text-align:left; padding:6px 15px 4px; position:relative;}
#notice h2 {width:51px;height:23px;display:inline-block;}
#notice  ul {width:50%; height:23px; overflow:hidden;  position:absolute; top:6px; left:70px;}
#notice  ul li {width:100%; height:23px; line-height:23px; display:none;position:absolute;top:0;}
#notice  ul li a { display:none;}
#notice  ul li.current, #notice  ul li.current a{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overow: ellipsis;}
#notice ul li a {vertical-align:middle; font-weight:bold;/*width:51px;*/}
#notice span {display:inline-block; width:51px; height:24px; background:url(/img/main/icons.png) no-repeat 0 -149.5px; background-size:155px 172.5px; vertical-align:middle; }
/*#notice .go_top {display:block; width:47px; height:12px;  background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position:-56px -149px; position:absolute; right:10px; top:12px;}*/
#notice .go_top {display:block; width:67px; height:32px;  background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position: -51px -139px; position:absolute; right:10px; top: 2px;font-size:0;line-height:0;text-indent:-99999px;}
.copyright a, .copyright span {color:#666; font-weight:bold; display:inline-block; padding:0px 8px; font-size:12px; }
.bar { background:url(/img/main/g_bar.gif) no-repeat 100% 2px; background-size:1px 9px;}

/* popup */
.barcode_shadow, .select_shadow {width:100%; height:100%; position:absolute; top:0; left:0; background:url(/img/main/bg_half_black.png) repeat 0 0; display:none; z-index:100;}
.select_shadow{display:block;visibility: hidden;}
.big_barcode {display:block; width:0%; background:#fff; border-top-left-radius:8px; -moz-border-top-left-radius:8px;
 -webkit-border-top-left-radius:8px;  border-bottom-left-radius:8px; -moz-border-bottom-left-radius:8px;
 -webkit-border-bottom-left-radius:8px; position:fixed; margin:2px 0; top:0; right:0;}
.big_barcode span {display:block; width:15px; height:50px; background:url(/img/main/swipe-icon.png) no-repeat 0 0; background-size:15px 50px;  position:absolute; left:7px; top:50%; margin-top:-25px;}
.big_barcode img ,.big_barcode p {width:144px; height:332px;}
.big_barcode p {position:absolute; top:50%; right:50%; margin-top:-170px; margin-right:-72px;}

.overflowhidden {overflow:hidden;}

/* 2014-01-28 메인 copyright 수정 */
.notice { text-align:left; padding:5px 15px; }	
.img_mark{width:25px; height:25px;}
.copyright{position:relative;}
/* 2015-10-20 */
.copyright .new_mark{overflow:hidden;width:100%;}
.copyright .new_mark li{float:left;width:30%;}
.copyright .new_mark li:nth-child(2){width:29.5%;}
.copyright .new_mark li:first-child{width:34.5%;}
.copyright .txt{position:static; top:30%; right:2%;width:100%;margin-top:4px;text-align:right }
.copyright .txt p{text-align:right;}
.copyright .txt .left{float:left;padding:0;}
.copyright .txt .right{float:right;margin-top:10px;padding-right:0;font-size:9px;}
.copyright .txt .c_name{color:#666; font-weight:bold; padding:0px 8px; font-size:12px; margin-bottom:5px;}
/* // 2015-10-20 */

/* 2014-07-15 */
/* t notice - T 알림 */
#gnbBtn {height:45px; width:100%; position:fixed; z-index:100; top:0; left:0; background-image: url(/img/main/bg_repeat.png); background-size: 100% 45px; }
#gnbBtn p {font-size:13px; font-weight:bold; color:#fff;  text-align:left; height:45px;}
#gnbBtn p img {height:45px;}
#gnbBtn .hide_txt {display:block; width:14.5px; height:14.5px; position:absolute; top: 4.5px; right: 0px; background-image:url(/img/main/icons.png); background-repeat:no-repeat;  background-size:155px 172.5px; background-position: 114% -86px;padding: 13px;}
#gnbBtn .icon_tBanner{position:absolute;display:inline-block;width:32px;height:32px;top:7px;left:10px;background:url(/img/main/icon_Tbanner.png) no-repeat;background-size:100%;-webkit-animation: mainTbanner 2s infinite linear;animation: mainTbanner 2s infinite linear;}
@keyframes mainTbanner { from {opacity: 1;} to {opacity: 0;} }
@-webkit-keyframes mainTbanner { 0% {-webkit-transform:rotateY(0deg)} 50% {-webkit-transform:rotateY(180deg)} 100% {-webkit-transform:rotateY(0deg)} }
@keyframes mainTbanner { 0% {transform:rotateY(0deg)} 50% {transform:rotateY(180deg)} 100% {transform:rotateY(0deg)} }
/*@-webkit-keyframes mainTbanner { from {opacity: 1;} to {opacity: 0;} }*/
/*.gnbBg {background-color:rgba(113,130,193,0.5) !important; }*/

#t_notice {height:45px; width:100%; background:none; display:block;}/* 2014-04-09 background-size:2px 45px; 수정 */
#t_notice p {font-size:13px; font-weight:bold; color:#fff;  text-align:left;}
#t_notice p img {height:45px;}

/* 2014-09-26 T알림 탑배너 */
.tNotice_main{height:45px;background:#a6e1dc;overflow:hidden;}
.tNotice_main .ani_icon {margin:8px 0 0 15px;width:30px;height:30px;background-image:url(/img/main/ico_ani_ring.png);background-size:210px 30px;
    -webkit-animation: play .8s steps(7) infinite;
       -moz-animation: play .8s steps(7) infinite;
        -ms-animation: play .8s steps(7) infinite;
         -o-animation: play .8s steps(7) infinite;
            animation: play .8s steps(7) infinite;
}
@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -210px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -210px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -210px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -210px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -210px; }
}
.tNotice_main .tn_text{position:absolute;left:50px;top:0;height:45px;}
.tNotice_main .tn_text img{height:45px;}
.tNotice_main .btnClose{position:absolute;top:0;right:0;display:block;width:40px;height:45px;background:url(/img/main/tNotice_main_close.png) no-repeat 50% 50%;background-size:15px 15px;}
.tNotice_main .btnClose span{display:none;}

/* 2014-03-06 15일간 보지않기 */
#gnbBtn .fifteen_close {top:9px; right:8px; background: url(/img/main/fifteen_close.png) no-repeat; background-size: 40px 25px;}


/* 2014-06-20 이럴땐 이렇게 수정전
.mtw_guide a{display:block;height:116px;background-size:100% 100%;text-indent:-5000em !important;border:1px solid #d2d2d2;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.mtw_guide.g3 a{background:#fff url(/img/main/do_guide_3.png) no-repeat 50% 100%;background-size:188px 117px;}
.mtw_guide.g4 a{background:#fff url(/img/main/do_guide_4.png) no-repeat 0% 100%;background-size:165px 117px;}
.mtw_guide.txt1 ,.mtw_guide.txt2{padding:0 15px;border:1px solid #d2d2d2;background:#fff;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.mtw_guide.txt1{margin-top:5px;border-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0}
.mtw_guide.txt2{border-top:0;border-top-left-radius:0;border-top-right-radius:0}
.mtw_guide.txt1 a,.mtw_guide.txt2 a{height:40px;background-color:#fff;background-repeat:no-repeat;background-size:161px 40px;border:0;border-radius:0;}
.mtw_guide.txt1 a{background-image:url(/img/main/do_guide_txt_03.png);border-bottom:1px solid #d6d6d6;}
.mtw_guide.txt2 a{background-image:url(/img/main/do_guide_txt_02.png);}
.mtw_guide.txt1 a:after,.mtw_guide.txt2 a:after{content:'';position:absolute;width:7px;height:11px;background:url(/img/main/icons.png) no-repeat -121px -65px;background-size:155px 172px;top:50%;right:0;margin-top:-5px;}
@media screen and (max-width:320px){
    #service_rate ul{padding:2px 10px;}
    .mtw_guide.txt1 ,.mtw_guide.txt2{padding:0 10px;}
    .mtw_guide.txt1 a,.mtw_guide.txt2 a {background-size:148px 40px;}
    .mtw_guide.g4 a {background-size: 145px 117px;}
}
@media screen and (min-width:540px){
    .mtw_guide.g4 a {background-position-x:100%;}
}
*/


/* 2014-06-20 이럴땐 이렇게 수정후*/
.bnr_like_this {display:none;}
.bnr_like_this.show {display:block;}
.mtw_guide_new a {display:block;height:123px; background-size:100% 100%; border:1px solid #d2d2d2;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.mtw_guide_new a span {padding:2px 0px;}
.mtw_guide_new.g3 a{background:#fff url(/img/main/do_guide_3.png) no-repeat 50% 100%;background-size:188px 117px;}
.mtw_guide_new.g4 a{background:#fff url(/img/main/do_guide_4.png) no-repeat 0% 100%;background-size:165px 117px;}
.mtw_guide_new.g4 a:after {background:none;}
.mtw_guide_new.g5 a{text-align:center;background:#fff;}
.mtw_guide_new.g5 a span {display:block;margin:10px 3px 0 3px;}
.mtw_guide_new.g5 a:after {background:none;}

.mtw_guide_new.up {margin-top:5px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.mtw_guide_new.up a {height:40px;padding:0 5px 0 3px;background-color:#fff;background-repeat:no-repeat;background-size:161px 40px;border:1px solid #d2d2d2;border-bottom:none;border-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.mtw_guide_new.up a span {display:block;margin-left:5px;padding-top:2px;border-bottom:1px solid #d6d6d6;border:0;}/* 2015-11-30 */
.mtw_guide_new.up a span img {}
.mtw_guide_new a:after {content:'';position:absolute;width:7px;height:11px;background:url(/img/main/icons.png) no-repeat -121px -65px;background-size:155px 172px;top:50%;right:10px;margin-top:-5px;}
.mtw_guide_new.down {border-radius:8px;-moz-border-radius:8px;}
.mtw_guide_new.down a {height:40px;padding:0 5px 0 3px;background-color:#fff;background-repeat:no-repeat;background-size:161px 40px;border:1px solid #d2d2d2;border-top:none;-webkit-border-radius:8px;border-top-left-radius:0;border-top-right-radius:0}
.mtw_guide_new.down a span {display:block;margin-left:5px;border-top:1px solid #d6d6d6;}/* 2015-11-30 */
.mtw_guide_new.down a span img {}
/*
.mtw_guide_new.txt1,
.mtw_guide_new.txt2,
.mtw_guide_new.txt3,
.mtw_guide_new.txt4 {padding:0 15px;background:#fff;}

.mtw_guide_new.txt1 a,
.mtw_guide_new.txt2 a,
.mtw_guide_new.txt3 a, 
.mtw_guide_new.txt4 a {height:40px;background-color:#fff;background-repeat:no-repeat;background-size:161px 40px;border:0;border-bottom:1px solid #d6d6d6;border-radius:0;}
.mtw_guide_new a.noline {border-bottom:none;}

.mtw_guide_new.txt1 a{background-image:url(/img/main/do_guide_txt_03_.png);}
.mtw_guide_new.txt2 a{background-image:url(/img/main/do_guide_txt_02_.png);}
.mtw_guide_new.txt3 a{background-image:url(/img/main/do_guide_txt_3_.png);}
.mtw_guide_new.txt4 a{background-image:url(/img/main/do_guide_txt_04_.png);}
.mtw_guide_new.txt1 a:after,
.mtw_guide_new.txt2 a:after,
.mtw_guide_new.txt3 a:after,
.mtw_guide_new.txt4 a:after {}
*/
@media screen and (max-width:320px){
    #service_rate ul{}
    .mtw_guide_new.txt1,
    .mtw_guide_new.txt2,
    .mtw_guide_new.txt3,
    .mtw_guide_new.txt4 {padding:0 10px;}
    .mtw_guide_new.txt1 a,
    .mtw_guide_new.txt2 a,
    .mtw_guide_new.txt3 a,
    .mtw_guide_new.txt4 a {background-size:148px 40px;}
    .mtw_guide_new.g4 a {background-size: 145px 117px;}
    .mtw_guide_new.g4 a:after {background:none;}
    .mtw_guide_new.g5 a {background-size: 145px 117px;}
    .mtw_guide_new.g5 a:after {background:none;}
}
@media screen and (min-width:540px){
    .mtw_guide_new.g4 a {background-position-x:100%;}
    .mtw_guide_new.g4 a:after {background:none;}
    .mtw_guide_new.g5 a {background-position-x:100%;}
    .mtw_guide_new.g5 a:after {background:none;}
}

/*20141006수정end*/
.steps{width:100%;padding:0;margin:0;}
.steps li{padding:0 3.15% 6px;margin:0;line-height:0.8;}
.steps li:first-child{padding:0;margin-bottom:10px;border-bottom:1px solid #bfbebc;box-shadow:0 2px 2px rgba(0,0,0,.10)}
.steps img{width:100%;}

/*.T_call img {width:300px; height:50px;}*/
.T_call {text-align: center;}
.main_btn {margin:10px 0 15px; text-align: center;}
.main_btn a {display:inline-block; width:49%;}
/*.main_btn span img{width:148px; height:35px;}*/
.T_call {display:block; height:56px; margin:0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #ccc; background:#fff; }
.T_call button{display:block; width:100%; height:56px; background:url(/img/main/T_call.png) no-repeat 50% 100%; text-indent:-5000em !important; background-size:auto 52px;}

/* cheating prevent 2014-07-01 */
.cheat_wrap{position:absolute;width:100%;height:63px;}
.cheat_wrap .cheat_top{height:36px;padding-top:14px;background:rgba(255,255,255,.95);line-height:16px;font-weight:bold;}
.cheat_wrap .cheat_btm{height:14px;background:#fff;}

/* 마스킹 프로젝트 2014-08-18 */
.layer_area .layer_content.maskingAd {width:90%;margin:0 5%;left:auto;}
.maskingAd_wrap {overflow:hidden;background:#ecedf0;border-radius:15px 15px 0 0;}
.maskingAd_wrap .txt_desc{width:100%;}
.maskingAd_wrap .link1 {display:block;margin:0 27.15% 17px;}
.maskingAd_wrap .link1 img{width:100%;}
.layer_area .layer_content .btn_close{position: absolute;top: 0;right: 0;width: 40px;height: 40px;background: url(/img/main/maskingAd_btn_close.png) no-repeat center center;background-size: 15px 15px;font-size: 0;line-height: 0;text-indent: -5000px;color:transparent;}
.layer_area .layer_content .btn_close2{display:block;width:100%;}

/* 2014-11-03 Edit S */
.banner_area {position:relative; width:100%;}
.banner_area h2 {margin:10px 0 5px 5px;}
.banner_area .txt_survey {margin:-30px 0 6px 0;text-align:right;}
.banner_area .banner_wrap {position:relative; width:auto; overflow:hidden; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:#ccc solid 1px; background:#fff;}
.banner_area .banner_wrap .b_arw {display:block; position:absolute; top:45px; z-index:50; width:20px; height:20px; background-image:url(/img/main/icons.png) no-repeat; background-size:155px 172.5px; text-indent:-999px;font-size:0;}
.banner_area .banner_wrap .arw_l {left:10px; background-position:-80px 0px;}
.banner_area .banner_wrap .arw_r {right:10px; background-position:-107px 0px; }

.banner_area .banner_nav {position:absolute; top:141px; width:100%; height:21px; text-align:center;}
.banner_area .banner_nav button,
.banner_area .banner_nav a,
.banner_area .banner_nav span {display:inline-block; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; vertical-align:middle; position:relative;}
.banner_area .banner_nav span.swiper-pagination-switch {width:10px; height:13px; margin:0 1px; background-position:-84px -65px; text-indent:-99999px;}
.banner_area .banner_nav span.swiper-active-switch {background-position:-95px -65px;}

.banner_list {position:relative; overflow:hidden; width:auto; height:105px; margin:0 auto; padding:0 0px;}

.btn_app_view {position:absolute;top:3px;right:5px;}
/*
.banner_list .banner_view {display:block; position:absolute; width:100%; min-width:298px; height:85px; margin:0; text-align:center;}
*/
.banner_list .banner_view {display:block; float:left; width:100%; min-width:298px; height:105px; margin:0; text-align:center;}
.banner_list .banner_view a {}
.banner_list .banner_view img {height:105px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
/* 2014-11-03 Edit E */

/* 메인 하단 배너 2014-10-28 */
.T_go {display:block; height:56px; margin:0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #ccc; background:#fff; }
.T_go button{display:block; width:100%; height:56px; background:url(/img/main/t_travel_go.png) no-repeat 50% 100%; text-indent:-5000em !important; background-size:auto 52px;}

.floating_area {position:fixed;top:20px;right:-70px;z-index:1000;}
.floating_area p {margin:0 0px 0 0;}
.floating_area p img {width:50%;}
.floating_area .btn_close {position:absolute;top:-15px;right:40px;}
.floating_area .check_today {position:relative;left:-15px;}

/* 2015-01-08 수정*/
.banner_top_area {margin:-3px 0 5px 0;}
.banner_top_area p {text-align:right;}
.banner_top_area p img {height:15px;}

/* 2015-06-02 추가 */
#change_header{position:relative;background:#fff; height:38px; width:100%; border-bottom:#dbdbd8; position:relative; padding-top:7px;border-top:1px solid #ebebec;border-bottom:1px solid #b1b4b8;}
#change_header .logo{width:30px; height:32px;position:absolute; left:10px; top:50%; margin-top:-16px;}
#change_header .logo img{width:100%;outline:none;}
#change_header .h1_wrap h1 span{display: block;text-align: center;width: 100%;outline: none;}
#change_header .h1_wrap{text-align:center;border-left:1px solid #ebebec;}
#change_header .h1_wrap h1{font-size:15px;display:inline;line-height:30px; font-weight:bold;letter-spacing:-1px; color:#555; }
#change_header .btn_close{width:16px; height:16px;position:absolute; right:10px; top:50%; margin-top:-10px;}
#change_header .btn_close img{width:100%;outline:none;}
.change_section{background-color:#f0f0ee;padding-top:10px;}
.change_section > ul{padding:0 12px;overflow:hidden;}
.change_section > ul > li{width:49%;}
.change_section > ul > li > a{display:block;width:100%;height:34px;border:1px solid #cbcbca;border-bottom:none;border-top-left-radius:8px;border-top-right-radius:8px;-moz-border-top-right-radius:8px;-moz-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-top-left-radius:8px;text-align:center;line-height:34px;background:#fff;font-size:15px;font-weight:bold;color:#888;}
.change_section .tab_1{float:left;}
.change_section .tab_2{float:right;}
.change_section > ul > li > a.on{background:#f06900;border:1px solid #f06900;color:#fff;}
.change_section .change_cont{padding:20px 12px;border-top:3px solid #f06900;background:url(/img/main/img_tabon.png) no-repeat;background-size:14px;background-color:#fff;}
.change_section .change_cont.tab00{background-position:25% 0;}
.change_section .change_cont.tab01{background-position:75% 0;}
.change_section .change_cont div{padding-bottom:19px;}
.change_section .change_cont div strong{display:block;height:40px;padding-left:10px;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;background-color:#f0f0f0;line-height:40px;color:#1e1f1f;font-size:15px;font-weight:bold;}
.change_section .change_cont div > ul{overflow:hidden;width:100%;margin-top:4px;box-sizing:border-box;}
.change_section .change_cont div > ul > li{float:left;overflow:hidden;min-width:50%;height:23px;margin:10px 0 0 -1px;line-height:24px;background:url(/img/main/bg_bdr.png) no-repeat 0 7px;background-size:1px 12px;}
.change_section .change_cont div > ul > li a{margin:0 10px 0 15px;font-size:14px;}
.change_section .change_cont div > ul > li span{display:inline-block;width:24px;height:14px;margin-left:5px;background:url(/img/main/icon_hot.png) no-repeat;background-size:100%;font-size:0;}

/* 2015-07-22 팝업 추가 */
.main_p_layer {position:absolute; top:0; left:0;display:block;width:100%;height:100%;background:rgba(0,0,0,.7);}
.main_p_layer .layer_popcon {position:fixed; width:296px; ;bottom:30px; left:50%; margin-left:-148px; z-index:110;background:#f0f0f0;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;overflow:hidden;}
.main_p_layer .layer_popcon .head{height:30px;line-height:30px;border-bottom:1px solid #cecece;font-size:15px;text-align:center;color:#555;background-color:#fff;}
.main_p_layer .layer_popcon .cont{position:relative;overflow:hidden;border-top:1px solid #fff;border-bottom:1px solid #cbcdd2;}
.main_p_layer .layer_popcon .cont img{width:100%;vertical-align:top;}
.main_p_layer .layer_popcon .cont .img_wrap{padding:10px 21px 0;}
.main_p_layer .layer_popcon .cont p{margin-top:10px;font-size:13px;text-align:center;color:#666;}
.main_p_layer .layer_popcon .cont p strong{font-weight:bold;font-size:14px;color:#1e1f1f;}
.main_p_layer .layer_popcon .cont a{display:block;width:100px;margin:10px auto 10px;}
.main_p_layer .layer_popcon .footer{position:relative;height:35px;padding-left:5px;vertical-align:bottom;border-top:1px solid #f4f4f4;background-color:#fff;}
.main_p_layer .layer_popcon .footer input[type='checkbox']{width:auto;height:0;line-height:0px;}
.main_p_layer .layer_popcon .footer label{position:absolute;left:15px;height:34px;line-height:34px;padding: 0px 0 0px 24px;background-position-y:7px;font-size:13px;color:#666;}
.main_p_layer .layer_popcon .footer button{position:absolute;top:0;right:15px;}
.main_p_layer .layer_popcon .footer button img{height:15px;padding-top:11px;}