body{background:#eee}

#content{padding:0px;}
.list_item{background: #ffffff;display: block;padding: 20px 10px;border-bottom: 2px solid #eee;position: relative;}
.list_item .desc_area{width: 70%;}
.list_item .desc_area .title{font-size: 16px;font-weight: bolder;margin-bottom: 10px;}
.list_item .desc_area .desc{font-size: 12px;}

.setting_alert{margin:10px;}
.setting_alert li{position: relative;padding-left: 15px;font-size:13px;font-weight:bold;margin-top: 10px;}
.setting_alert li:before{content: '';position: absolute;left: 0;background: url(/img/new_main/ico_exmark_red.png) no-repeat;top: 2px;width: 12px;height: 12px;background-size:cover;}
.setting_alert p{font-size:12px;font-weight:normal}

/* on-off 스위치 iOS 스타일 */
.toggle, .toggler {display: inline-block;vertical-align: middle;margin: 10px;}
.toggle.on{background-color: #e3002b;}
.toggler {color: slategray;transition: .2s;}
.toggler--is-active { color: black; }
.b { display: block; }
.toggle {width: 60px;height: 30px;border-radius: 100px;background-color: #eee;overflow: hidden;box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);position: absolute;right: 10px;top: 20px;}
.check {position: absolute;display: block;cursor: pointer;top: 0 !important;left: 0;width: 100%;height: 100%;opacity: 0;z-index: 6;}
.check:checked ~ .switch {right: 2px;left: 50%;transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);transition-property: left, right;transition-delay: .08s, 0s;}
.switch {position: absolute;left: 2px;top: 2px;bottom: 2px;right: 50%;background-color: #fff;border-radius: 36px;z-index: 1;transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);transition-property: left, right;transition-delay: 0s, .08s;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);}

/* T 알림 설정 레이어팝업 */
.settingPop{width:90%;display:none;position:fixed;top:0;right:0;bottom:0;left:0;margin:0 5%;border:1px solid #35343c;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;z-index:2000}
.settingPop.on{display:block}
.settingPop .head{position:relative;padding:15px;background:#514f65}
.settingPop .head h1{font-size:16px;color:#fff}
.settingPop .cont{height:auto;padding:10px 15px 15px;overflow-y:scroll;-webkit-box-sizing:border-box;box-sizing:border-box}
.settingPop .cont p{letter-spacing:-0.07em;word-break:break-all}
.settingPop .cont .para01{font-size: 14px;color: #666;text-align: center;margin: 10px 0px 30px;}
.settingPop .cont .para02{margin: 20px 0px;font-size: 16px;color: #111;text-align: center;font-weight: bolder;}
.settingPop .cont .para02 .emph1{font-weight:bold;font-size:16px;color:#e3002b}
.settingPop .cont .para02 .emph2{font-size:12px}
.settingPop .cont .para03{margin-top:15px;font-size:14px;color:#111}
.settingPop .cont .para03 .emph3{font-weight:bold;font-size:16px;color:#e3002b}
.settingPop .btnClose{display:block;position:absolute;top:50%;right:15px;width:15px;height:15px;margin-top:-8px;color:transparent;background:url(/img/new_billsearch/sp_billsearch.png) no-repeat;background-size:250px 250px;background-position:0 -105px}
.settingPop .btnGoto{width:100%;height:35px;font-size:14px;line-height:34px;background:#e3002b;-webkit-border-radius:0;border-radius:0}
.settingPop .btnGoto.btnSettingClose{background: #ebebec;color: #333;}
.settingPop .btnExpire{display:block;margin-top:20px;text-align:center;position:relative;}
.settingPop .btnExpire .textExpire{position:relative;/* display:block; */padding-left:30px;font-size:13px;color:#111;line-height:24px}
.settingPop .btnExpire .textExpire:after{content:"";position:absolute;top:0;left:0;width:24px;height:24px;background:url(/img/new_charge/ico_charge_comm.png) no-repeat;background-size:100px 100px;background-position:0 -76px}

.settingPop .check ~ .check_label{display: inline-block;cursor: pointer;position: relative;padding-left: 25px;margin-right: 15px;font-size: 13px;}
.settingPop .check ~ .check_label:before {content: "";display: inline-block;width: 20px;height: 20px;margin-right: 10px;position: absolute;left: 0;border:1px solid #000;}
.settingPop .check:checked ~ .check_label:before {content: "\2713";text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);font-size: 18px;font-weight:800;text-align: center;line-height: 18px;} 

.pushAgree .contbox{background:none;}
.pushAgree .paraTit{font-size:16px;font-weight:bold;color:#111;text-align:center;line-height:20px;letter-spacing:-0.05em;margin: 20px 0px;}
.pushAgree .thumbBox{background: #fff;margin-top:25px;border:1px solid #cecece;border-top:2px solid #3d3435}
.pushAgree .thumbBox h3{display:block;padding:10px 20px;font-size:14px;color:#111;text-align:left;line-height:18px;letter-spacing:-0.05em}
.pushAgree .thumbBox h3 strong{font-weight:bold}
.pushAgree .thumbBox .thumb{display:block;border-top:1px solid #cecece}
.pushAgree .thumbBox .thumb img{width:100%;vertical-align:top;display: block;}
.pushAgree .paraTxt{margin:20px 0px;font-size:14px;color:#111;text-align:center;letter-spacing:-0.05em}
.pushAgree .btnbox a{padding:0 30px;height:35px;font-size:14px;line-height:34px;-webkit-border-radius:0;border-radius:0}
.pushAgree .btnbox .btnCancel{background:#434159}
.pushAgree .btnbox .btnConfirm{background:#e3002b}


.t-alram-setting #header .h1_wrap{margin-left: 0px;margin-right:0px;}
