@charset "utf-8";

/* list.html */
.list_accordion li .list_tit .list_dep1 {display:block; background:url(/images/product/tit_list1.png) no-repeat 9px 17px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.list_accordion li .list_tit .list_dep1 {background-image:url(/images/product/tit_list1_480.png); background-size:auto 17px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.list_accordion li .list_tit .list_dep1 {background-image:url(/images/product/tit_list1_300dpi.png); background-size:auto 17px;}}
.list_accordion li .list_tit .list_dep2 {display:block; background:url(/images/product/tit_list2.png) no-repeat 9px 17px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.list_accordion li .list_tit .list_dep2 {background-image:url(/images/product/tit_list2_480.png); background-size:auto 17px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.list_accordion li .list_tit .list_dep2 {background-image:url(/images/product/tit_list2_300dpi.png); background-size:auto 17px;}}
.list_accordion li .list_tit .list_dep3 {display:block; background:url(/images/product/tit_list3.png) no-repeat 9px 17px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.list_accordion li .list_tit .list_dep3 {background-image:url(/images/product/tit_list3_480.png); background-size:auto 17px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.list_accordion li .list_tit .list_dep3 {background-image:url(/images/product/tit_list3_300dpi.png); background-size:auto 17px;}}

/*[상품 로고]*/
.logo_area {overflow:hidden; padding:10px 9px 15px;}
.logo_area .btn_area {float:right; text-align:right;}

/*[상품 로고] 이미지*/
.logo_area .logo {float:left; width:102px; height:28px; text-indent:-9999em; background:url(/images/product/logo_premium.png) no-repeat 100% 0;}
.logo_area .logo.premium {background:url(/images/product/logo_premium.png) no-repeat 100% 0;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.logo_area .logo.premium {background-image:url(/images/product/logo_premium_480.png); background-size:102px 28px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.logo_area .logo.premium {background-image:url(/images/product/logo_premium_300dpi.png); background-size:102px 28px;}}
.logo_area .logo.professional {background:url(/images/product/logo_professional.png) no-repeat 100% 0;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.logo_area .logo.professional {background-image:url(/images/product/logo_professional_480.png); background-size:102px 28px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.logo_area .logo.professional {background-image:url(/images/product/logo_professional_300dpi.png); background-size:102px 28px;}}
.logo_area .logo.standard {background:url(/images/product/logo_standard.png) no-repeat 100% 0;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.logo_area .logo.standard {background-image:url(/images/product/logo_standard_480.png); background-size:102px 28px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.logo_area .logo.standard {background-image:url(/images/product/logo_standard_300dpi.png); background-size:102px 28px;}}
.logo_area .logo.basic {background:url(/images/product/logo_basic.png) no-repeat 100% 0;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.logo_area .logo.basic {background-image:url(/images/product/logo_basic_480.png); background-size:102px 28px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.logo_area .logo.basic {background-image:url(/images/product/logo_basic_300dpi.png); background-size:102px 28px;}}
.logo_area .logo.economy {background:url(/images/product/logo_economy.png) no-repeat 100% 0;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.logo_area .logo.economy {background-image:url(/images/product/logo_economy_480.png); background-size:102px 28px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.logo_area .logo.economy {background-image:url(/images/product/logo_economy_300dpi.png); background-size:102px 28px;}}

/*db*/
.db_text_box {padding:10px 10px 20px; font-size:12px !important; color:#1e1f1f !important;}
.db_text_box *{font-size:12px !important; color:#1e1f1f !important;}

/*공통*/
.mgt25 {margin-top:25px;}
.align_c {text-align:center;}
.mgt-20 {margin-top:-20px !important;}
.padb {padding-bottom:23px !important;} 
.guide {font-size:11px; margin-top:5px;}
.bottom_mgt {margin:12px 9px 20px;}
.mg_reset {margin:7px 10px 20px !important;}

.title_gray {color:#fff; letter-spacing:-1px; font-size:12px; padding:5px 8px 6px; border-top:1px solid #5b5c6c; border-bottom:1px solid #5b5c6c; background:#89919c; box-shadow:0px 1px 1px #abafba inset;} /* 2013-10-30 : 웹접근성 bg수정 */
.title_gray02 {color:#fff; letter-spacing:-1px; font-size:12px; padding:5px 8px 6px; border-top:1px solid #5b5c6c; border-bottom:1px solid #5b5c6c; background:#89919c; box-shadow:0px 1px 1px #abafba inset, 0px 1px 5px #b7bbc0;} /* 2013-10-30 : 웹접근성 bg수정 */
.title_gray02_wrap {overflow:hidden; margin:0 -20px; padding-bottom:8px;}
.bottom_area {padding:15px 0 20px; border-radius:0 0 5px 5px; color:#333; font-size:13px; letter-spacing:-1px; background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,#ffffff), color-stop(100%,#e8e8e8)); background: -moz-linear-gradient(top, #ffffff 42%, #e8e8e8 100%);}
.top_box {padding:10px 10px 20px;}
.gra_box {margin:0 -9px; padding:12px 9px 15px; border-bottom:1px solid #ddd; background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,#ffffff), color-stop(100%,#e8e8e8)); background: -moz-linear-gradient(top, #ffffff 42%, #e8e8e8 100%); font-size:13px; letter-spacing:-1px;}

/*하늘색 배경의 컨텐츠*/
.contbox_sky .skydl {overflow:hidden; padding:7px 10px; margin: 6px -10px 0; border:solid 1px #d4dae0; border-radius:2px; background:#dce2e9; box-shadow:0 1px 1px #fff, 0 1px 3px #b9bdc0 inset; -webkit-box-shadow:0 1px 1px #fff, 0 1px 3px #b9bdc0 inset; -moz-box-shadow:0 1px 1px #fff, 0 1px 3px #b9bdc0 inset; }
.contbox_sky .skydl dt {float:left; font-size:13px; line-height:31px;}
.contbox_sky .skydl dd {float:right; width:59%; padding-left:1%;}

/* 요금제 아코디언 */
.prd_acc_area {padding:10px 0 0;}
/*.product_accordion li {margin-top:-1px;}*/
.product_accordion li li {margin-top:0;}
.product_accordion .pd_accordion_title {position:relative; border-top: 1px solid #656c78; border-bottom: 1px solid #656c78; background:#89919C; /* -webkit-linear-gradient(top, #b2b6c2 0%,#989daa 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b6c2), color-stop(100%,#989daa));*/ box-shadow:0px 1px 1px #abafba inset; z-index:10;} /* 2013-10-31 background 수정  */ /* 2013-10-31 : 웹접근성 border수정 */
.product_accordion .pd_accordion_title .back_color {display:inline-block; width:100%; background:url(/images/product/bg_accordion_arrowd.png) no-repeat 100% 50%;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_accordion .pd_accordion_title .back_color {background-image:url(/images/product/bg_accordion_arrowd_480.png); background-size:27px 8px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_accordion .pd_accordion_title .back_color {background-image:url(/images/product/bg_accordion_arrowd_300dpi.png); background-size:27px 8px;}}
.product_accordion .pd_accordion_title span {display:block; margin-top:8px; padding:8px 35px 17px 8px; color:#fff; letter-spacing:-1px; font-size:15px;}
.product_accordion .prd_gradation_list .gradation_area {overflow:hidden; padding:0 9px; border-bottom:1px solid #ddd; background: -webkit-linear-gradient(top, rgba(255,255,255,1) 42%,rgba(232,232,232,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1)));}
.product_accordion .prd_gradation_list .border_last {border-bottom:0;}
.product_accordion .prd_gradation_list .gradation_area .title_two_dept {margin:7px 0 8px;}
.product_accordion .prd_gradation_list .gradation_area .prd_list_link {overflow:hidden; margin:0 -3px 9px;}
.product_accordion .prd_gradation_list .gradation_area .prd_list_link li {float:left; width:50%; margin-bottom:6px;}
.product_accordion .prd_gradation_list .gradation_area .prd_list_link li .text_one_line, .product_accordion .prd_gradation_list .gradation_area .prd_list_link li .text_two_line {padding:0 3px;}
.product_accordion .prd_gradation_list .gradation_area .prd_list_link li a {display:block; border:1px solid #bec6cb; border-radius:18px; -moz-border-radius:18px; -webkit-border-radius:18px; background: -webkit-linear-gradient(top, #fafafa 0%,#e8ebf0 49%,#d2d7da 51%,#edf0f2 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(49%,#e8ebf0), color-stop(51%,#d2d7da), color-stop(100%,#edf0f2)); color:#333; -moz-box-shadow:0 1px 1px #e0e7eb; -webkit-box-shadow:0 1px 1px #e0e7eb; box-shadow:0 1px 1px #e0e7eb; line-height:13px;}
.product_accordion .prd_gradation_list .gradation_area .prd_list_link li a .icon_arrow {display:block; background:url(/images/product/prd_list_link_arrow.png) no-repeat 100% 50%;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_accordion .prd_gradation_list .gradation_area .prd_list_link li a .icon_arrow {background-image:url(/images/product/prd_list_link_arrow_480.png); background-size:28px 19px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_accordion .prd_gradation_list .gradation_area .prd_list_link li a .icon_arrow {background-image:url(/images/product/prd_list_link_arrow_300dpi.png); background-size:28px 19px;}}
.product_accordion .prd_gradation_list .gradation_area .prd_list_link li .text_one_line a .icon_arrow {height:26px; padding:9px 30px 0 13px;}
.product_accordion .prd_gradation_list .gradation_area .prd_list_link li .text_two_line a .icon_arrow {height:32px; padding:3px 30px 0 13px;}
.product_accordion .prd_acc_last .pd_accordion_title {border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;}
.product_accordion .prd_acc_last_tit {margin-bottom:10px;}
.product_accordion .view_cont .prd_acc_last_tit {margin-bottom:0;}
.product_accordion .view_cont .gradation_last {border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;}
.product_accordion .prd_acc_cont {display:none;}
.product_accordion .view_cont .prd_acc_cont {display:block;}
.product_accordion .view_cont .pd_accordion_title .back_color {background-image:url(/images/product/bg_accordion_arrowu.png);}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_accordion .view_cont .pd_accordion_title .back_color {background-image:url(/images/product/bg_accordion_arrowu_480.png); background-size:27px 8px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_accordion .view_cont .pd_accordion_title .back_color {background-image:url(/images/product/bg_accordion_arrowu_300dpi.png); background-size:27px 8px;}}

.prd_acc_area .cont_top_tit {margin:6px 0 0 9px;}
.prd_acc_area .contbox_sky {margin:-1px -1px 0;}
.prd_acc_area .acc_center_text {padding:8px 0 0; text-align:center; line-height:17px;}
.prd_acc_area .contbox_white_wrap {margin-top:-16px;}
.prd_acc_area .contbox_white {margin:0 -1px; padding:0 1px; border:1px solid #878787; border-top:1px solid #9da8b6; border-bottom:0; border-radius:5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px;}
.prd_acc_area .title_three_dept {color:#333;}
.prd_acc_area .fare_list li {overflow:hidden; padding:10px 9px 15px; border-bottom:1px solid #ddd; background: -webkit-linear-gradient(top, rgba(255,255,255,1) 42%,rgba(232,232,232,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1)));}
.prd_acc_area .fare_list li:first-child { border-radius:5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px;}
.prd_acc_area .fare_list .border_last {border-bottom:0;}
.prd_acc_area .btn_pointer {padding:15px 9px 20px;}
.acc_sky_area .view_cont .pd_accordion_title {box-shadow:0px 1px 1px #abafba inset, 0px 1px 5px #b7bbc0;}

.prd_acc_area .my_line_number {margin:-10px 0 0;}

.product_accordion .title_only .pd_accordion_title {padding-right:1.5%; border-top: 1px solid #656c78; border-bottom: 1px solid #656c78; background:#89919C; /*-webkit-linear-gradient(top, #b2b6c2 0%,#989daa 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b6c2), color-stop(100%,#989daa))*/; box-shadow:0px 1px 1px #abafba inset;} /* 2013-10-31 : 웹접근성 border수정 */
.product_accordion .title_only .pd_accordion_title .back_color {background:url(/images/product/bg_accordion_arrowr.png) no-repeat 100% 50%;}
.product_accordion .title_only .pd_accordion_title a {display:block; color:#fff; letter-spacing:-1px; font-size:15px; margin-top:8px; padding:8px 35px 17px 8px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_accordion .title_only .pd_accordion_title .back_color {background-image:url(/images/product/bg_accordion_arrowr_480.png); background-size:16px 20px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_accordion .title_only .pd_accordion_title .back_color {background-image:url(/images/product/bg_accordion_arrowr_300dpi.png); background-size:16px 20px;}}

.product_accordion .accordion_title {border-top:1px solid #989daa; border-bottom:1px solid #828491; background: -webkit-linear-gradient(top, #b2b6c2 0%,#989daa 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b6c2), color-stop(100%,#989daa)); padding:16px 35px 17px 8px; font-size:15px;}

/*class별 요금제 혜택*/
.classlist {position:relative; padding:10px 5px 12px 99px; border-bottom:solid 1px #bebfbb;}
.product_class .img_premium {background:url(/images/product/class_premium.png) no-repeat 13px 26px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_class .img_premium {background-image:url(/images/product/class_premium_480.png); background-size:73px 39px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_class .img_premium {background-image:url(/images/product/class_premium_300dpi.png); background-size:73px 39px;}}
.product_class .img_professional {background:url(/images/product/class_professional.png) no-repeat 13px 26px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_class .img_professional {background-image:url(/images/product/class_professional_480.png); background-size:73px 39px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_class .img_professional {background-image:url(/images/product/class_professional_300dpi.png); background-size:73px 39px;}}
.product_class .img_standard {background:url(/images/product/class_standard.png) no-repeat 13px 26px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_class .img_standard {background-image:url(/images/product/class_standard_480.png); background-size:73px 39px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_class .img_standard {background-image:url(/images/product/class_standard_300dpi.png); background-size:73px 39px;}}
.product_class .img_basic {background:url(/images/product/class_basic.png) no-repeat 13px 26px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_class .img_basic {background-image:url(/images/product/class_basic_480.png); background-size:73px 39px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_class .img_basic {background-image:url(/images/product/class_basic_300dpi.png); background-size:73px 39px;}}
.product_class .img_economy {background:url(/images/product/class_economy.png) no-repeat 13px 26px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_class .img_economy {background-image:url(/images/product/class_economy_480.png); background-size:73px 39px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_class .img_economy {background-image:url(/images/product/class_economy_300dpi.png); background-size:73px 39px;}}

.classlist .icon_offer {position:absolute; bottom:6px; right:5px; width:74px; height:74px; text-indent:-9999px; background:url(/images/product/icon_offer.png) no-repeat 0 0;}

@media screen and (-webkit-min-device-pixel-ratio:1.5) {.classlist .icon_offer {background-image:url(/images/product/icon_offer_480.png); background-size:74px 74px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.classlist .icon_offer {background-image:url(/images/product/icon_offer_300dpi.png); background-size:74px 74px;}}
.classlist h2 {font-size:15px;}
.classlist h2 p{font-size:12px; color:#888;} /* 2013-11-26 : 웹접근성 #a6a6a6 수정*/
.classlist ul li {font-size:13px; margin-top:4px;}
.classlist ul li p{margin-top:-1px;}
.classlist .icon_offer_img {position:absolute; bottom:6px; right:5px; width:74px; height:74px;} /* 2013-11-26 : 웹접근성 추가 */

/* T로밍 */
.phone_number_box {overflow:hidden; margin-top:10px; padding:10px 6px; border-top:1px solid #bebfbb; border-bottom:1px solid #bebfbb;}
.nation_search {position:relative; margin-top:10px; padding:10px 55px 10px 0; border-top:1px solid #bebfbb; border-bottom:1px solid #bebfbb;}
.nation_search .search_btn {position:absolute; top:10px; right:0;}
.nation_search .search_btn .small_btn_type4 {height:29px;}

.details_title_box  {margin:0 -9px; padding:5px 7px 6px; border-top:1px solid #5b5c6c; border-bottom:1px solid #5b5c6c; background-color:#89919C; font-size:12px; color:#fff; letter-spacing:-1px;} /* 2013-11-05 웹접근성 background 수정 */
.details_cont {padding:6px 0 14px; line-height:17px; letter-spacing:-1px;}
.details_cont .indent14 {padding-left:14px; text-indent:-14px;}
.details_cont .indent14_list li {padding-left:14px; text-indent:-14px;}
.details_cont .indent10 {padding-left:10px; text-indent:-10px;}
.details_cont .indent10_list li {padding-left:10px; text-indent:-10px;}

.gray_bl_list li {margin-top:18px; padding-left:7px; background:url(/images/ico/bl_three_title.png) no-repeat 0 6px; font-size:12px; line-height:17px; color:#1e1f1f; letter-spacing:-1px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.gray_bl_list li {background-image:url(/images/ico/bl_three_title_480.png); background-size:4px 4px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.gray_bl_list li {background-image:url(/images/ico/bl_three_title_300dpi.png); background-size:4px 4px;}}
.gray_bl_list li:first-child {margin-top:4px;}
.gray_bl_sub li {margin-top:0; padding-left:7px; background:none; font-size:11px; color:#787575; text-indent:-7px;}

.gray_bl_list_wrap {margin:0 -9px;}
.gray_bl_list_wrap li {position:relative; border-bottom:solid 1px #bebfbb; padding:11px 9PX 12PX 9px;}
.gray_bl_list_wrap li button {position:absolute; top:17px; right:9px;}
.gray_bl_list_wrap li .title_two_dept {margin-top:0;}
.gray_bl_list_wrap .gray_bl_list_in {margin:5px 0 0 11px;}
.gray_bl_list_wrap .gray_bl_list_in li {padding:0 0 1px 0; text-indent:8px; background:url(/images/ico/bl_three_title.png) no-repeat 0 6px; font-size:12px; color:#1e1f1f; letter-spacing:-1px; border:none;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.gray_bl_list_wrap .gray_bl_list_in li {background-image:url(/images/ico/bl_three_title_480.png); background-size:4px 4px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.gray_bl_list_wrap .gray_bl_list_in li {background-image:url(/images/ico/bl_three_title_300dpi.png); background-size:4px 4px;}}

.gray_bl_list_wrap dl {overflow:hidden; margin:0px 0px 1px 11px; font-size:12px; color:#1e1f1f; letter-spacing:-1px;}
.gray_bl_list_wrap dl.first {margin-top:4px;}
.gray_bl_list_wrap dt {float:left; width:40px; text-indent:8px; background:url(/images/ico/bl_three_title.png) no-repeat 0 6px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.gray_bl_list_wrap dt {background-image:url(/images/ico/bl_three_title_480.png); background-size:4px 4px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.gray_bl_list_wrap dt {background-image:url(/images/ico/bl_three_title_300dpi.png); background-size:4px 4px;}}
.gray_bl_list_wrap dd{margin-left:40px; color:#767676;} /* 2015-02-13 color 수정  */

.check_box_area {position:relative; margin-top:13px; padding:5px 10px; border:1px solid #d7d9db; background-color:#f8f8f9;}
.check_box_area input[type='checkbox'] {top:50%; margin-top:-15px;}
.check_box_area input[type='checkbox']+label {padding:3px 0 3px 24px; background-position:0 50%; line-height:14px;}

.tl_calendar_box {overflow:hidden; margin-top:10px; padding:10px 6px; border-top:1px solid #bebfbb; border-bottom:1px solid #bebfbb;}
.tl_calendar_box .year {position:relative; float:left; width:39%;}
.tl_calendar_box .month {position:relative; float:left; width:34%;}
.tl_calendar_box .day {position:relative; float:left; width:27%;}
.tl_calendar_box .tl_select_area {padding-right:34px;}
.tl_calendar_box .text_area {position:absolute; top:7px; right:17px; font-size:13px;}
.tl_calendar_box .day .tl_select_area {padding-right:16px;}
.tl_calendar_box .day .text_area {right:0;}

.nation_set_box {margin-top:10px; padding:10px 6px; border-top:1px solid #bebfbb; border-bottom:1px solid #bebfbb;}
.nation_set_box .input_arrow {margin-bottom:5px; padding-bottom:26px; background:url(/images/product/bg_nation_arrow.png) no-repeat 50% 100%;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.nation_set_box .input_arrow {background-image:url(/images/product/bg_nation_arrow_480.png); background-size:56px 21px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.nation_set_box .input_arrow {background-image:url(/images/product/bg_nation_arrow_300dpi.png); background-size:56px 21px;}}
.check_middle_list {margin-top:10px; border-top:1px solid #bebfbb;}
.check_middle_list li {position:relative; padding:5px 6px; border-bottom:1px solid #bebfbb; font-size:13px;}
.check_middle_list li input[type='checkbox'] {top:50%; margin-top:-15px;}
.check_middle_list li input[type='checkbox']+label {padding:3px 0 3px 24px; background-position:0 50%; font-size:13px; line-height:14px; color:#1e1f1f;}
.check_middle_list li .date {display:block; margin-top:3px; font-size:11px; color:#787575;}

.product_accordion .prd_acc_link_select li {overflow:hidden; position:relative; padding-right:3px; border-top:1px solid #ddd;} /* 2013-11-28 웹접근성 border-bottom -> top으로 수정 */ /* 2013-11-05 : 웹접근성 삭제 background: -webkit-linear-gradient(top, rgba(255,255,255,1) 42%,rgba(232,232,232,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1))); */
.product_accordion .prd_acc_link_select li a {display:block; padding:16px 170px 19px 8px; color:#1E1F1F;} /* 2013-11-05 : 웹접근성 삭제 background:url(/images/ico/bl_link_arrow.png) no-repeat 100% 50%;*/
/* @media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_accordion .prd_acc_link_select li a {background-image:url(/images/ico/bl_link_arrow_480.png); background-size:25px 19px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_accordion .prd_acc_link_select li a {background-image:url(/images/ico/bl_link_arrow_300dpi.png); background-size:25px 19px;}} 2013-11-05 : 웹접근성 삭제 */
.product_accordion .prd_acc_link_select li .select_type1 {position:absolute; top:10px; right:52px;} /* 2013-11-25 웹접근성 right:34px 수정 */
.product_accordion .prd_acc_link_select li.border_last {}/* 2013-11-05 : 웹접근성 삭제 border-bottom:0; */
.prd_acc_text {margin:10px 9px 0; padding-bottom:20px;}

/* T로밍 국가검색 */
.search_box {padding:6px 81px 5px 12px;} /* 2013-10-29  59-> 81  수정  */
/*.search_box {position:relative; padding:6px 59px 5px 12px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,224,228,1)), color-stop(17%,rgba(244,240,241,1)), color-stop(43%,rgba(189,188,196,1)), color-stop(50%,rgba(177,174,170,1)), color-stop(60%,rgba(188,179,171,1)), color-stop(74%,rgba(227,222,227,1)), color-stop(100%,rgba(130,130,130,1))); background: -moz-linear-gradient(top, rgba(227,224,228,1) 0%, rgba(244,240,241,1) 17%, rgba(189,188,196,1) 43%, rgba(177,174,170,1) 50%, rgba(188,179,171,1) 60%, rgba(227,222,227,1) 74%, rgba(130,130,130,1) 100%); -moz-box-shadow:0 3px 4px 0 #bcbcbc; -webkit-box-shadow:0 3px 4px 0 #bcbcbc; box-shadow:0 3px 4px 0 #bcbcbc; z-index:3;}
.search_box .btn_search {position:absolute; top:8px; right:12px;}
.search_box .btn_search button {display:inline-block; width:39px; height:28px; background:url(/images/btn/btn_head_search.png) no-repeat 0 0; font-size:0; line-height:0; text-indent:-10000px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.search_box .btn_search button {background-image:url(/images/btn/btn_head_search_480.png); background-size:39px 28px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.search_box .btn_search button {background-image:url(/images/btn/btn_head_search_300dpi.png); background-size:39px 28px;}}
.search_box .input_overflow {overflow:hidden; width:100%; padding-bottom:1px;}
.search_box .input_area {position:relative; padding-right:29px; border:1px solid #868686; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -moz-box-shadow:0 0 0 1px #dddcdd; -webkit-box-shadow:0 1px 0 1px #dddcdd; box-shadow:0 1px 0 1px #dddcdd; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%,#ffffff)); background: -moz-linear-gradient(top, #dbdbdb 0%, #ffffff 100%);}
.search_box .input_area .input_txt2 {border:0; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; background-color:transparent;}
.search_box .input_area .delete_text {position:absolute; top:6px; right:6px; font-size:0; line-height:0;}
.search_box .input_area .delete_text button {display:inline-block; width:17px; height:17px; background:url(/images/search/btn_search_delete.png) no-repeat 0 0; font-size:0; line-height:0; text-indent:-10000px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.search_box .input_area .delete_text button {background-image:url(/images/search/btn_search_delete_480.png); background-size:17px 17px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.search_box .input_area .delete_text button {background-image:url(/images/search/btn_search_delete_300dpi.png); background-size:17px 17px;}}

.search_auto_text {position:relative; z-index:1;}
.search_auto_text ul {background-color:#fff;}
.search_auto_text ul li {border-bottom:1px solid #bebfbb;}
.search_auto_text ul li a {display:block; padding:7px 10px 11px; color:#333;}
.search_auto_text ul li .point_text {color:#ec4909;}*/

.search_text_area {padding-top:8px; text-align:center; letter-spacing:-1px; color:#333;}
.t_search {/*padding-bottom:20px;*/ background:none;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.t_search {background-image:none;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.t_search {background-image:none;}}
.t_search #content {padding-bottom:0; background:url(/images/bg/bg_content.gif) repeat 0 0;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.t_search #content {background-image:url(/images/bg/bg_content_480.gif); background-size:4px 4px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.t_search #content {background-image:url(/images/bg/bg_content_480.gif); background-size:4px 4px;}}

/* 2013-07-25 요금제-기본 */
.product_accordion h1 {display:inline-block; width:100%; background-color:#656c78; border-bottom:1px solid #b3b6c0; }/* 2013-11-06 : 웹접근성 삭제 background:url(/images/product/bg_accordion_h1.png) no-repeat ; */
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.product_accordion h1
{ background-color:#656c78; background-size:cover;}}/* 2013-11-06 : 웹접근성 삭제 background-image:url(/images/product/bg_accordion_h1_480.png); */
@media screen and (-webkit-min-device-pixel-ratio:2) {.product_accordion h1
{ background-color:#656c78; background-size:cover;}}/* 2013-11-06 : 웹접근성 삭제 background-image:url(/images/product/bg_accordion_h1_300dpi.png); */

.product_accordion h1 span {display:block; padding:17px 0 17px; color:#fff; letter-spacing:-1px; font-size:15px; text-align:center;}

.product_accordion .basic_acc {position:relative; border-top: 1px solid #656c78; border-bottom: 1px solid #656c78; background: #89919c; box-shadow: 0px 1px 1px #abafba inset; z-index:10;}/* 2013-11-05 : 웹접근성 삭제 border-top:0 none; border-bottom:0 none; background: -webkit-linear-gradient(top, #edeff2 0%,#c3c6cf 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edeff2), color-stop(100%,#c3c6cf)); */

.product_accordion .basic_acc span {color:#fff;}/* 2013-11-05 : 웹접근성 삭제 color:#1e1f1f; */
.product_accordion li.shadow {box-shadow:0px 2px 2px #abafba; }

/* 2013-11-04 요금제/서비스 배너2 */ /* 2013-11-11 */
.bill_banner2 {display:block; height:55px; margin:-10px 12px 30px;
border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
border: 1px solid #243d7e;
background: #264186;}
.bill_banner2 a{display:block; background:url(/images/product/bill_banner2_320.png) no-repeat 50% 50%; text-indent:-5000em !important;} /* 2013-11-12 : 웹접근성 text-indent추가 */
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.bill_banner2 a{background-image:url(/images/product/bill_banner2_480.png); background-size:auto 55px;}}
@media screen and (-webkit-min-device-pixel-ratio:2) {.bill_banner2 a{background-image:url(/images/product/bill_banner2_300dpi.png); background-size:auto 55px;}}

/* 2013-11-25 웹접근성 티로밍 리스트 데이터무제한요금제 ok 버튼 추가 */
.roaming_databtn {position:absolute;right:12px;top:10px;width:31px;height:31px;}
.roaming_databtn a {padding:0 !important;}

/* 2014-05-14  T프리미엄포인트조회메뉴추가 */
.classlist {padding: 20px 10px 25px 99px;}
.classlist .icon_offer_img {position:absolute;top: 70px; left: 25px; width: 50px; height: 50px;} /* 2013-11-26 : 웹접근성 추가  bottom:6px; right:5px; width:74px; height:74px;*/

/* 2014-10-20 부가서비스/T로밍 리스트 수정  */
.prd_acc_area {padding:10px 0 0;}
/*.criteria_sort {margin:0 0 12px; padding:7px 12px; letter-spacing:-1px; border:1px solid #d2c8c5; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; background-color:#fff; color:#3f3337; line-height: 16px;}*/
.criteria_sort {margin:0 0 8px 0; padding:7px 12px; letter-spacing:-1px; background-color:#fff; color:#3f3337; line-height:16px; text-align:right;}
.criteria_sort h2 {display:inline; margin:0 10px;}
.criteria_sort input[type='radio'] {width:auto;}
.criteria_sort input[type='radio']+label {margin:5px 10px 0 0;}

.product_list2 h1 {display:inline-block; width:100%; background-color:#656c78; border-bottom:1px solid #b3b6c0; }
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
    .product_list2 h1 { background-color:#656c78; background-size:cover;}
}
@media screen and (-webkit-min-device-pixel-ratio:2) {
    .product_list2 h1 {background-color:#656c78; background-size:cover;}
}
.product_list2 h1 span {display:block; padding:17px 0 17px; color:#fff; letter-spacing:-1px; font-size:15px; text-align:center;}
.product_list2 li {border-top:1px solid #bdc1c8;}
.product_list2 h2 {position:relative; height:47px; padding-left:10px; background:#e2e5ea; border-top:1px solid #f3f8ff; border-bottom:1px solid #bdc1c8; line-height:3.5; color:#333; font-size:13px;}

.product_list2 h2 .back_color {display:inline-block; width:100%; background:url(/images/product/bg_accordion_arrowd2.png) no-repeat 100% 50%;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
    .product_list2 h2 .back_color {background-image:url(/images/product/bg_accordion_arrowd2_480.png); background-size:27px 8px;}
}
@media screen and (-webkit-min-device-pixel-ratio:2) {
    .product_list2 h2 .back_color {background-image:url(/images/product/bg_accordion_arrowd2_300dpi.png); background-size:27px 8px;}
}
.product_list2 h2 span {display:block; line-height:3.5; color:#333; font-size:13px;}            

.product_list2 h2 span.arr {display:inline-block; position:absolute; right:10px; top:16px; width:10px; height:20px; background:url(/img/wire/arr2.png) no-repeat 0 -25px; background-size:10px 50px; vertical-align:-2px; overflow:hidden;}
.product_list2 h2 a {display:block; margin-left:-10px; padding-left:10px;}
.product_list2 ul li {position:relative; border-top:1px solid #dedede; border-bottom:none;}
.product_list2 ul li:last-child {border-bottom:1px solid #dedede;}/* 2015-11-06 css */
.product_list2 ul li a {display:block; padding:16px 90px 19px 8px; color:#1e1f1f; font-size:11px;}
.product_list2 ul li span.new {display:inline-block; width:30px; height:15px; margin:0 0 0 10px; background:url(/img/common/ico_new_.png) no-repeat 0 0; background-size:30px 15px; vertical-align:-5px; overflow:hidden;}
.product_list2 ul li span.recommend {display:inline-block; width:30px; height:15px; margin:0 0 0 10px; background:url(/img/common/ico_recommend_.png) no-repeat 0 0; background-size:30px 15px; vertical-align:-5px; overflow:hidden;}
.product_list2 ul li span.arr {display:inline-block; position:absolute; right:10px; top:18px; width:10px; height:20px; background:url(/img/wire/arr2.png) no-repeat 0 0; background-size:10px 50px; vertical-align:-2px; overflow:hidden;}
.product_list2 ul li span.price {display:inline-block; position:absolute; right:25px; top:17px; width:70px; height:20px; color:#d74200; text-align:right;}
.product_list2 .view_cont.last_list .prd_acc_link_select li:last-child a {padding:16px 90px 9px 8px;}

.product_list2 .prd_acc_cont {display:none;}
.product_list2 .view_cont .prd_acc_cont {display:block;}
.product_list2 .view_cont h2 .back_color {background-image:url(/images/product/bg_accordion_arrowu2.png);}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
    .product_list2 .view_cont h2 .back_color {background-image:url(/images/product/bg_accordion_arrowu2_480.png); background-size:27px 8px;}
}
@media screen and (-webkit-min-device-pixel-ratio:2) {
    .product_list2 .view_cont h2 .back_color {background-image:url(/images/product/bg_accordion_arrowu2_300dpi.png); background-size:27px 8px;}
}
.product_list2 .select_type1 {position:absolute; right:50px; top:10px;}

#scroll_contbox {position:relative; height:200px; border:1px solid #d7d9db; overflow:auto;}
#note_scroll {position:absolute; top:0; left:0; padding:10px;}

.product_list2 ul li span.price.line2 {top:9px; width:auto;}

.selbox_comm {border:0 none;border-radius:0;-webkit-appearance:none;background-color:transparent}
.clear {display:block}
.clear:after {display:block;visibility:hidden;content:".";height:0;font-size:0;line-height:0;clear:both}

.fw_b {font-weight:bold}
.fw_n {font-weight:normal}
.ta_l {text-align:left}
.ta_r {text-align:right}
.ta_c {text-align:center}
.mg_t5 {margin-top:5px}
.mg_t10 {margin-top:10px}
.mg_t15 {margin-top:15px}
.mg_t20 {margin-top:20px}
.mg_t25 {margin-top:25px}
.mg_t30 {margin-top:30px}
.pt_l5 {padding-left:5px}
.pt_r5 {padding-right:5px}
.txt_uline {text-decoration:underline}
.fc_orange {color:#f65401}
.ico_comm {display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.in_charge .ico_comm {background:url(/img/new_charge/ico_charge_comm.png) no-repeat 0 0;background-size:100px 100px}

.column_type {float:left;width:100%;box-sizing:border-box}
.column_type.col2 {width:50%}
.column_type.col3 {width:33.33%}
.column_type.col4 {width:25%}
.column_type.col5 {width:20%}

.bg_white {background-color:#fff}
#content.info_main {padding:0;line-height:1.5;letter-spacing:-1px}
#content.in_charge {padding-bottom:18px}

#content.info_main .box_myservice {overflow:hidden;padding-bottom:8px;border-bottom:1px solid #9e9e9e}
#content.info_main .box_myservice .cellphone {overflow:hidden;position:relative;height:31px;margin:8px 10px 0;padding-right:39px}
#content.info_main .box_myservice .cellphone .lbl_phone {display:block;position:absolute;top:0;left:0;height:100%;font-size:14px;line-height:31px;color:#484848}
#content.info_main .box_myservice .wrap_selbox {overflow:hidden;float:right;position:relative;width:154px;height:100%}
#content.info_main .box_myservice .wrap_selbox .selbox_comm {display:block;width:100%;height:31px;box-sizing:border-box;padding-left:8px;border:1px solid #bbb;border-radius:3px;font-size:14px;line-height:29px;color:#1d1f1e}
#content.info_main .box_myservice .wrap_selbox .ico_comm {position:absolute;top:13px;right:8px;width:9px;height:5px;background-position:-30px -20px}
#content.info_main .box_myservice .btn_ok {display:block;position:absolute;top:0;right:0;width:36px;height:31px;box-sizing:border-box;padding-right:1px;border-radius:2px;font-size:14px;line-height:33px;color:#fff;background-color:#919499;text-align:center}
#content.info_main .box_myservice .single_type {padding-right:0}
#content.info_main .box_myservice .single_type .btn_ok {display:none}

#content.info_main .box_section {overflow:hidden;padding:0 10px}
#content.info_main .box_section .cont_title {overflow:hidden;margin-bottom:-3px}
#content.info_main .box_section .cont_title .tit_section {display:inline-block;position:relative;padding-left:16px;font-size:13px;line-height:1.25;color:#1e1e1e}
#content.info_main .box_section .cont_title .tit_section .ico_comm {content:'';display:block;position:absolute;top:1px;left:0;width:12px;height:12px;background-position:-50px 0}
#content.info_main .box_section .cont_button {overflow:hidden;position:relative;margin:5px -2px 0}
#content.info_main .box_section .cont_button .column_type {padding:0 2px}
#content.info_main .box_section .cont_button .column_type.col2:nth-child(n+3) {margin-top:4px}
#content.info_main .box_section .line {overflow:hidden;margin:10px 0;padding:0;width:100%;height:2px;background-color:#3d3435}

#content.info_main .box_section .cont_box1 {overflow:hidden;margin-top:10px;border:1px solid #b1b5b8;border-radius:5px}
#content.info_main .box_section .title {overflow:hidden;position:relative;height:39px;background-color:#f3f3f3}
#content.info_main .box_section .title .tit_section {display:inline-block;padding-left:9px;font-weight:bold;font-size:15px;line-height:39px;color:#1e1f1f}
#content.info_main .box_section .title .btn_more {display:block;position:absolute;top:11px;right:9px;height:auto;padding-right:16px;font-size:13px;color:#1e1f1f}
#content.info_main .box_section .title .btn_more .ico_comm {position:absolute;top:3px;right:0;width:7px;height:10px;background-position:0 0}
#content.info_main .box_section .cont {overflow:hidden;border-top:1px solid #b1b5b8}

#content.info_main .box_section .list_button {overflow:hidden}
#content.info_main .box_section .list_button li {float:left;box-sizing:border-box;border-left:1px solid #e0e1e3}
#content.info_main .box_section .list_button a {display:block;height:100%;text-align:center}
#content.info_main .box_section .list_button a:after {content:'';display:inline-block;width:0;height:100%;vertical-align:middle}
#content.info_main .box_section .list_button .inner {display:inline-block;font-weight:bold;color:#1e1f1f;vertical-align:middle}
#content.info_main .box_section .list_button.type1 li {height:49px}
#content.info_main .box_section .list_button.type1 .inner {font-size:18px}
#content.info_main .box_section .list_button.type2 li {height:39px}
#content.info_main .box_section .list_button.type2 .inner {font-size:13px}
#content.info_main .box_section .list_button.col2 li {width:50%}
#content.info_main .box_section .list_button.col2 li:nth-child(2n-1) {border-left:0 none}

#content.info_main .box_section .serviceinfo {overflow:hidden;height:100%;padding:8px 8px 0}
#content.info_main .box_section .serviceinfo dt {float:left;padding-top:3px;font-size:13px;color:#1e1f1f;white-space:nowrap}
#content.info_main .box_section .serviceinfo .inner_link {display:inline-block;position:relative;padding-right:11px;vertical-align:top}
#content.info_main .box_section .serviceinfo .inner_link .ico_comm {position:absolute;bottom:9px;right:0;width:7px;height:10px;background-position:-80px 0}
#content.info_main .box_section .serviceinfo dd {font-weight:bold;font-size:15px;color:#1e1f1f;text-align:right}

#content.info_main .box_section .cont_box2 {overflow:hidden;margin-top:5px;border:1px solid #b1b5b8;border-radius:5px}
#content.info_main .box_section .billinginfo {overflow:hidden;position:relative;float:left;width:50%;box-sizing:border-box;padding:6px 10px 6px 8px;border-top:1px solid #b1b5b8;}
#content.info_main .box_section .billinginfo:first-child {width:100%;border-top:0 none}
#content.info_main .box_section .billinginfo:nth-child(3n) {border-left:1px solid #b1b5b8}
#content.info_main .box_section .billinginfo dt {float:left;width:100%;font-size:15px;color:#1e1f1f}
#content.info_main .box_section .billinginfo .inner_link {display:inline-block;position:relative;padding-right:13px;vertical-align:top}
#content.info_main .box_section .billinginfo .inner_link .ico_comm {position:absolute;bottom:8px;right:0;width:7px;height:10px;background-position:-80px 0}
#content.info_main .box_section .billinginfo dd {text-align:right}
#content.info_main .box_section .billinginfo .date {display:block;position:absolute;top:9px;right:10px;font-size:12px;color:#787676}
#content.info_main .box_section .billinginfo .price {display:block;padding-bottom:2px;font-weight:bold;font-size:28px;line-height:32px;color:#f65401}
#content.info_main .box_section .billinginfo .unit {font-weight:normal;font-size:18px;vertical-align:3px}
#content.info_main .box_section .billinginfo .txt_alert {display:block;margin-top:35px;font-weight:bold;font-size:15px;color:#1e1f1f}
#content.info_main .box_section .billinginfo .txt_info {display:block;overflow:hidden;width:100%;margin-top:25px;font-weight:bold;font-size:15px;color:#1e1f1f;white-space:nowrap;text-overflow:ellipsis}
#content.info_main .box_section .billinginfo .link_addinfo {display:inline-block;position:relative;padding-right:15px;font-size:13px;color:#757575;vertical-align:top}
#content.info_main .box_section .billinginfo .link_addinfo .ico_comm {position:absolute;top:3px;right:0;width:11px;height:11px;background-position:-10px 0}

.button_type1 {display:block;position:relative;height:48px;border:1px solid #c8c8c8;border-radius:3px}
.button_type1:after {content:'';display:inline-block;width:0;height:100%;vertical-align:middle}
.button_type1 .inner {display:inline-block;font-size:13px;line-height:15px;color:#000;vertical-align:middle}

#content.info_main #banner {width:100%; position:relative; padding-bottom:30px;}
#content.info_main #banner img{ border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px; width:298px;height:82px;}
#content.info_main #banner .arw_l {outline: none;position:absolute;top:0;left:0;width:20px;height:84px;}
#content.info_main #banner .arw_l .ico_comm {width:9px;height:14px;margin-left:5px;background-position:0px -10px;}
#content.info_main #banner .arw_r {outline: none;position:absolute;top:0;right:0;width:20px;height:84px;}
#content.info_main #banner .arw_r .ico_comm {width:9px;height:14px;margin-left:5px;background-position:0px -30px;}
#content.info_main #banner .b_paging {position:absolute; bottom:0; left:50%; width:100%; height:21px; margin-left:-50%; text-align:center;}
#content.info_main #banner ul  { height:84px; width:100%; overflow:hidden; min-width:300px;}
#content.info_main #banner ul li {display:none;padding:0 20px; text-align:center; height:82px; background:#fff; overflow:hidden;}
#content.info_main #banner ul li a {display:block;outline: none;}
#content.info_main #banner ul li.c_page {display:block; border:1px solid #c6c5c3;border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px;}

/* 2015-10-29 배너 어드민 관리 수정 [s] */
#content.info_main .b_paging button,
#content.info_main .b_paging a {display:inline-block;outline: none; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; vertical-align:middle; position:relative;}
#content.info_main .b_paging span {display:inline-block; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; vertical-align:top; margin-top:4px; position:relative;}
#content.info_main .b_paging span img {width:9px !important; height:9px !important;position:absolute;left:-1px;}
#content.info_main .b_page {width:9.5px; height:9.5px; background-position:-84px -65px; text-indent:-99999px;}
#content.info_main .b_page.on {background-position:-95px -65px;}
#content.info_main .b_paging .bplay_btn {display:inline-block; width:19px; height:19px; margin-left:4px; outline: none; background-position:-105px -40px; text-indent: -999px;font-size: 0; vertical-align:top}
#content.info_main .bplay_btn.b_play {background-position:-84px -40px;}
/* 2015-10-29 배너 어드민 관리 수정 [e] */

#content.info_main #banner.singletype {padding-bottom:0}
#content.info_main #banner.singletype .arw_l,
#content.info_main #banner.singletype .arw_r,
#content.info_main #banner.singletype .b_paging {display:none}

.conifr{padding:0;}
.conifr .my_line_number{margin:-10px 0 0;}
.conifr_sub .title_box{margin:0;}
.conifr_sub .graph_title{margin-top:10px;}
.conifr_sub .graph_title_box{margin:0;}
.conifr_sub .graph_area{margin:0;}
.conifr_sub .title_bl{margin:0 10px;}
.conifr_sub .excla_list{margin:0 10px;}
/*.over_ifr{margin:0 -3px 0 -4px;}
.device_and .over_ifr{margin:0 -3px 0 -4px;}
.device_ios .over_ifr{margin:0 2px 0 -4px;}
.conifr{padding:20px 0 0;}
.conifr .my_line_number{margin:-20px 0 0 0;}
.conifr .title_box{margin:0 2px 0 -3px;}
.conifr_sub .graph_area,
.conifr_sub .graph_title_box{margin:0 3px 0 4px;}
.device_and .conifr_sub .graph_area,
.device_and .conifr_sub .graph_title_box{margin:0 3px 0 4px;}
.device_ios .conifr_sub .graph_area,
.device_ios .conifr_sub .graph_title_box{margin:0 3px 0 4px;}
.conifr_sub .title_bl{margin:0 9px}
.conifr_sub .excla_list{padding:0 9px}
.conifr_sub .title_box{margin:0 -5px 0 1px;padding:0 9px;}*/

/* 2016-04-14 추가 */
/*******************************
 * Common Style                *
 *******************************/
.fl{float:left}
.fr{float:right}
.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}
.vat{vertical-align:top}
.vam{vertical-align:middle}
.vam *{vertical-align:middle !important}
.clearfix{*zoom:1}
.clearfix:after{content:"";display:block;clear:both;overflow:hidden}
.underline{text-decoration:underline}
.nsection{padding-top:0 !important}
.bdt{border-top:1px solid #bebfbb}
.bdb{border-bottom:1px solid #bebfbb}

/* T로밍 - 요금제 */
.troaming .bulTit4{margin-top:10px}
.troaming .calendarBox{padding:10px 5px}
.troaming .selWrap{width:14%;margin-left:8px}
.troaming .selWrap.year{width:20%;margin-left:0}
.troaming .selWrap select{color:#222}
/* T로밍 - 요금제 */ /* inputbox font-size 추가 */
.troaming .selWrap input{font-size:14px;}

.troaming .demi{color:#1e1f1f}
.troaming .bulList1 li {color:#646464}

/* 인증센터 */ /* 20160601 */
.auth_menu{overflow: hidden;}
.auth_menu li {border-bottom: 1px solid #d0d0d0;}
.auth_menu li a {display: block;position: relative;padding: 20px;font-size: 15px;color: #1e1f1f;letter-spacing: -1px;}
.auth_menu li a:after {content: '';display: table;position: absolute;right: 20px;top: 50%;width: 7px;height: 13px;margin-top: -6.5px;background: url(/img/common/sp_ico_common.png) no-repeat;background-position: 0 -15px;background-size: 250px 250px;}
.auth_desc{overflow: hidden;}
.auth_desc li span{display: block;position: relative;padding: 14px 10px 0px 25px;font-size: 13px; color:#646464}
.auth_desc li span:after {content: '※';display: table;position: absolute;left:10px;top:13px;}


/* poc ui 적용 : 2016-08-10 */
#content.in_charge .box_section .cont_box1 {border-radius:0px}
#content.in_charge .box_section .cont_box2 {border-radius:0px;margin-top: 15px;border: 1px solid #b1b5b8;border-top: 2px solid #3d3435;}
#content.in_charge .box_section .cont {border-top:0px}
#content.in_charge .box_section .title {background-color:#ffffff;}
#content.in_charge .box_section .title .tit_section{font-size:17px;}/*2016-09-05 font-size 15 -> 17수정 */
#content.in_charge .box_section .serviceinfo{padding: 10px 10px;}
#content.in_charge .box_section .serviceinfo dt {padding-top:0px;font-size:16px;}/*2016-09-08 font-size 17 -> 16수정 */
#content.in_charge .box_section .serviceinfo dd {font-size:17px;}/*2016-09-05 font-size 15 -> 17수정 */
/* 요금 짤림 수정 코드 2017-02-06 [s]*/
#content.in_charge .box_section .title{height:auto;}
#content.in_charge .box_section .serviceinfo .serviceTitle {padding-top:0px;font-size:16px;float: left;color: #1e1f1f;white-space: nowrap;}/*2016-09-08 font-size 17 -> 16수정 */
#content.in_charge .box_section .serviceinfo .serviceName {font-size:17px;float:right;font-weight: bold;text-align: right;}/*2016-09-05 font-size 15 -> 17수정 */
/* 요금 짤림 수정 코드 2017-02-06 [e]*/
#content.in_charge .box_section .serviceinfo .inner_link .ico_comm {background-position:0 0}
#content.in_charge .box_section .list_button li {float:left;box-sizing:border-box;border-left:0px;}
#content.in_charge .box_section .list_button.type1 li{height: 55px;padding: 5px 10px 10px 10px;}
#content.in_charge .box_section .list_button.col2 li:nth-child(2n-1){padding-right: 5px;}
#content.in_charge .box_section .list_button.col2 li:nth-child(2n){padding-left: 5px;}
#content.in_charge .box_section .list_button.type1 .inner {font-size: 17px;}/*2016-09-05 font-size 16 -> 17수정 */
#content.in_charge .box_section .list_button .inner{display: inline-block;font-weight: bold;vertical-align: middle;color: #ffffff;}
#content.in_charge .box_section .list_button a{display: block;height: 40px;}
#content.in_charge .box_section .list_button a.bgdark{background:#56546e}
#content.in_charge .box_section .list_button a.bgred{background:#e3002b}
#content.in_charge .box_section .billinginfo dt{font-size:16px;}/*2016-09-08 font-size 17 -> 16수정 */
#content.in_charge .box_section .billinginfo .txt_info{font-size:17px;}/*2016-09-05 font-size 15 -> 17수정 */
#content.in_charge .box_section .billinginfo .link_addinfo{font-size:15px;}/*2016-09-05 font-size 13 -> 15수정 */
#content.in_charge .box_section .billinginfo .date{font-size:14px;}/*2016-09-05 font-size 12 -> 14수정 */
#content.in_charge .box_section .billinginfo .link_addinfo .ico_comm {position: absolute;top: 3px;right: 0;width: 11px;height: 11px;background: url(/img/new_charge/arrow_link.png) no-repeat;background-size: 100%;}
#content.in_charge .box_section .billinginfo .inner_link .ico_comm {background-position:0px 0}
#content.in_charge .box_section .cont_button {margin:10px 0px}
#content.in_charge .box_section .cont_button .column_type{padding:0px;}
/* #content.in_charge .box_section .cont_button .column_type .button_type1{border-radius:0px;border-bottom:0px;} */
#content.in_charge .box_section .cont_button .column_type .button_type1{border-radius:0px;border-top:0} /* 2016-10-31 기부금후원금 수정 */
#content.in_charge .box_section .cont_button .column_type .button_type1 .inner{font-size:15px;}/*2016-09-05 font-size 13 -> 15수정 */
#content.in_charge .box_section .list_button.type2 .inner{font-size:15px;}/*2016-09-05 font-size 13 -> 15수정 */
#content.in_charge .box_section .cont_button .column_type:nth-child(-n+2) .button_type1{border-top:1px solid #c8c8c8} /* 2016-10-31 기부금후원금 추가 */
#content.in_charge .box_section .cont_button .column_type:nth-child(2n) .button_type1{border-left:0px;}
#content.in_charge .box_section .cont_button .column_type:nth-child(n+3){margin-top:0px !important;}
#content.in_charge .box_section .noneMobile{border-top: 2px solid #3d3435;}
#content.in_charge .box_section .noneMobile li{padding:0px;border-top:1px solid #c8c8c8;}
#content.in_charge .box_section .noneMobile li:nth-child(2n-1){border-right:1px solid #c8c8c8;}
#content.in_charge .box_section .noneMobile li span{color:#000 !important;}
.fc_red {color: #e3002d !important;}
.fc_underline{text-decoration: underline;}
.bd_bottom{border-bottom:1px solid #c8c8c8 !important;}

/* 2016-08-11 배너 신규 UI */
#content.info_main #banner_type {width:100%;position:relative;padding-bottom:24px;border-bottom: 1px solid #ececec;margin-top: 15px;}
#content.info_main #banner_type .ico_comm{background:url(/img/new_main/ico_main_comm.png) no-repeat 0 0;background-size:100px 100px}
#content.info_main #banner_type img{width:100%; display:block;}

#content.info_main #banner_type .b_arw {position:absolute;top:30px;z-index:50;display:block;width:30px;height:23px;text-indent:-999px;font-size:0;background:url(../../img/common/icon_banner.png) no-repeat;background-size:57px 61px}
#content.info_main #banner_type .arw_l {left:0;background-position:0 0}
#content.info_main #banner_type .arw_r {right:0;background-position:-27px 0}
#content.info_main #banner_type .b_paging {position:absolute;bottom:-2px;left:50%;width:100%;height:24px;line-height:1.8;margin-left:-50%;text-align:center;background:#ececec}

#content.info_main #banner_type ul{overflow:hidden;min-width:300px;width:100%;min-height:72.5px;}
#content.info_main #banner_type ul li{overflow:hidden;display:none;text-align:center;background:#fff}
#content.info_main #banner_type ul li a {display:block}
#content.info_main #banner_type ul li.c_page {display:block}

#content.info_main #banner_type .arw_l{outline: none;position:absolute;bottom:0;left:10px;width:20px;height:24px}
#content.info_main #banner_type .arw_l .ico_comm{width:20px;height:11px;background-position:0 0}
#content.info_main #banner_type .arw_l .ico_comm.ov{width:20px;height:11px;background-position:-40px 0}
#content.info_main #banner_type .arw_r{outline: none;position:absolute;bottom:0;right:10px;width:20px;height:24px}
#content.info_main #banner_type .arw_r .ico_comm{width:20px;height:11px;background-position:-20px 0}
#content.info_main #banner_type .arw_r .ico_comm.ov{width:20px;height:11px;background-position:-60px 0}
#content.info_main #banner_type .b_paging{position:absolute;bottom:0;left:50%;width:100%;height:24px;margin-left:-50%;text-align:center;background-color:#fff}
#content.info_main #banner_type .b_paging button,
#content.info_main #banner_type .b_paging a{display:inline-block;outline: none;background-image:url(/img/new_main/ico_main_comm.png);background-repeat:no-repeat;background-size:100px 100px;vertical-align:middle;position:relative}
#content.info_main #banner_type .b_paging span{display:inline-block;background-image:url(/img/new_main/ico_main_comm.png);background-repeat:no-repeat;background-size:100px 100px;vertical-align:top;margin-top:7px;position:relative}
#content.info_main #banner_type .b_paging span img{width:9px !important;height:9px !important;position:absolute;left:-1px}
#content.info_main #banner_type .b_page{width:9px;height:9px;margin-left:4px;background-position:0 -20px;text-indent:-99999px}
#content.info_main #banner_type .b_page.on{background-position:-10px -20px}
#content.info_main #banner_type .b_paging .bplay_btn{display:inline-block;width:9px;height:11px;margin:6px 0 0 4px;outline: none;background-position:-20px -20px;text-indent: -999px;font-size: 0;vertical-align:top}
#content.info_main #banner_type .bplay_btn.b_play{background-position:-30px -20px}
#content.info_main #banner_type.singletype{padding-bottom:0}
#content.info_main #banner_type.singletype .arw_l,
#content.info_main #banner_type.singletype .arw_r,
#content.info_main #banner_type.singletype .b_paging{display:none}
/* 2016-08-11 배너 신규 UI */