@charset "utf-8";

/* Common Style */
.fl{float:left}
.fr{float:right}

.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}

.vat{vertical-align:top}
.vam{vertical-align:middle}

.clear{clear:both}
.of{oveflow:hidden}

.btno{border-top:none !important}

/* sub_index */
body.bg_wire {background:#f6f6f7;}
#main_content {padding:12px 10px 0;}
#data_info_wrie {position:relative; height:120px; width:100%; min-width:300px; padding-bottom:15px; text-align:center;}
#data_info_wrie ul {width:100%; height:35px; padding-top:85px; border:1px solid #bfbfbf; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;  background: #fff; box-shadow:5px 5px 10px 0px #d2d0d0;}
#data_info_wrie ul > li {float:left; width:33%; height:100%; border-right:1px solid #e2e2e1; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#data_info_wrie ul > li:last-of-type {border-right:none;}
#data_info_wrie li h3 a  {padding-left:16px; font-size:10px; letter-spacing:-1px; color:#656c78; line-height:35px; font-weight:bold; vertical-align:top;}
#data_info_wrie li.on > a {color:#293039;}
#data_info_wrie li h3 span {display:block; position:absolute; top:0; left:-2px; width:15px; height:15px; background-image:url(/img/wire/sp_index.png); background-repeat:no-repeat; background-size:50px 75px;}
#data_info_wrie li.meb1 h3 span {background-position:-25px 0;}
#data_info_wrie li.meb2 h3 span {background-position:-25px -25px;}
#data_info_wrie li.meb3 h3 span {background-position:-25px -50px;}
#data_info_wrie li.meb1.on h3 a {color:#293039;}
#data_info_wrie li.meb1.on h3 span {background-position:0 0;}
#data_info_wrie li.meb2.on h3 span {background-position:0 -25px;}
#data_info_wrie li.meb3.on h3 span {background-position:0 -50px;}
#data_info_wrie li.meb3 {width:34%;}
#data_info_wrie .meb_txt {margin:10px 10px 0 10px; font-size:10px; color:#fff; line-height:14px;} 
#data_info_wrie .meb_txt2_wrap{width:100%;text-align:center;display: table;}
#data_info_wrie .meb_txt2 {display: table-cell;font-size: 10px;color: #fff;line-height: 14px;height: 86px;vertical-align: middle;} 
#data_info_wrie .meb_txt2 strong {display:block; color:#ed7c1e; font-size:11px;}
#data_info_wrie .meb_sub {width:100%; height:86px; position:absolute; top:0; left:0; padding-right:2px; background:#263242; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px; display:none;}
#data_info_wrie .meb_sub dl {height:60px; margin-top:11px; text-align:left; color:#fff; overflow:hidden; font-size:10px;}
#data_info_wrie .meb_sub dl.left {float:left; width:66%; background:url(/img/wire/bg_line2.gif) repeat-y right 0; background-size:2px auto;} 
#data_info_wrie .meb_sub dl dt {padding:4px 0 10px 15px;} 
#data_info_wrie .meb_sub dl dd {padding-left:15px; font-size:13px; color:#f57f25;} 
#data_info_wrie .meb_sub dl dd.tit{font-size:17px;} /* 2014-08-21 수정 */
#data_info_wrie .meb_sub dl dd span {display:block; padding-top:2px; font-size:10px;}
#data_info_wrie .meb_sub dl.right dd { text-decoration:underline;} 
#data_info_wrie .meb_sub ol {padding-top:16px; margin:0 15px; }
#data_info_wrie .meb_sub ol li {height:13px; margin-bottom:7px; width:100%; clear:both; border:none; text-align:left; color:#fff; font-size:11px;line-height:13px; letter-spacing:0px; position:relative;}
#data_info_wrie .meb_sub ol li h4 {position:absolute; left:0px; top:0; width:52px; height:100%; margin-right:8px; background:url(/img/wire/bg_line2.gif) no-repeat right 50%; background-size:auto 8px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
#data_info_wrie .meb_sub ol li p {width:85px; height:100%; position:absolute; right:0px; top:0; text-align:left;}
#data_info_wrie .g_txt {margin-left:60px;}
#data_info_wrie .g_txt strong {font-weight:bold; color:#ed7c1e;}
#data_info_wrie .graph {height:10px; background:#425064; border:1px solid #1c2532; margin-left:60px; margin-right:92px; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; text-align:right;}
#data_info_wrie .graph_bar {background-image:url(/img/main/bar.png); background-repeat:repeat-x; background-size:3px 51px; height:10px;
border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;  float:right; position:relative; display:block;}
#v_call .graph_bar {background-position:0 0px;}
#data_info_wrie .sub_arw {width:15px; height:5px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position:0 -40px; position:absolute; display:none;}
#data_info_wrie .meb1 .meb_sub_con { height:64px; background:#fff; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius:8px; margin:0 15px; margin-top:9px; line-height:65px; position:relative;padding-top:2px;}
#data_info_wrie .meb1 .sub_arw {top:85px; left:15%;}
#data_info_wrie .meb2 .sub_arw {top:85px; left:49%;}
#data_info_wrie .meb3 .sub_arw {top:85px; right:15%;}
#data_info_wrie .mmore {position:absolute; top:54px; right:-3px;width:18px; height:21.5px; background-image:url(/img/main/icons.png); background-repeat:no-repeat; background-size:155px 172.5px; background-position: 100% 0;}
#data_info_wrie .mbtn_t1 {font-size:11px; color:#fff; width:100px; height:23px; display:inline-block; text-align:center; line-height:22px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; background:#ee821f; margin-top:7px; margin-left:3px;}
#data_info_wrie .mbtn_t1.mbtn_block {display:block; height:25px; margin:0px; margin-bottom:4px;}
#data_info_wrie .gray {background:#7d8188;}

.banner_top {line-height:0;margin-bottom:15px;}
.banner_top a {display:block; width:100%; height:52px; overflow:hidden; text-align:center;border-radius:5px;border:1px solid #c6c5c3;background:#fff}
.banner_top a img {height:52px;}


/* index_menu */
#main_menu_wrie {position:relative;text-align:center;padding-bottom:10px}
#main_menu_wrie >ul { width:100%;min-width:300px;margin:0 auto;position:relative;border:1px solid #d2d2d2; overflow:hidden}
#main_menu_wrie >ul:after {content:'';display:block;clear:both}
#main_menu_wrie >ul:first-of-type {background-position:1px 0;border-top-left-radius:8px;-moz-border-top-left-radius: 8px;-webkit-border-top-left-radius:8px;border-top-right-radius:8px;-moz-border-top-right-radius: 8px;-webkit-border-top-right-radius:8px;border-bottom:0px}	
#main_menu_wrie >ul:nth-child(2) {background-position:1px -80px;border-top:0px;border-bottom:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px}
#main_menu_wrie >ul:last-of-type {background-position:1px -160px;border-bottom-left-radius:8px;-moz-border-bottom-left-radius: 8px;-webkit-border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-border-bottom-right-radius: 8px;-webkit-border-bottom-right-radius:8px;border-top:0px;box-shadow:1px 1px 0 #fff;-moz-box-shadow:1px 1px 0 #fff;-webkit-box-shadow:1px 1px 0 #fff} 
#main_menu_wrie >ul >li {float:left; -moz-box-sizing:border-box}
#main_menu_wrie >ul >li > a {width:100%;height:78px;display:block;position:relative;border-bottom:1px solid #c9cbd0;border-left:1px solid #fff;border-top:1px solid #fff}		
#main_menu_wrie >ul >li > button {width:100%;height:80px;display:block;position:relative;border-bottom:1px solid #d2d2d2;border-left:1px solid #fff;border-top:1px solid #fff;font-size:0;line-height:0;text-indent:-99999px}	
#main_menu_wrie .m_title {display:block;position:absolute;left:0;top:2px;background-image:url(/img/wire/menu_640_new.png);background-repeat:no-repeat;background-size:298px 750px;width:90px;height:14px}
#main_menu_wrie .m_icon {display:block;width:50px;height:55px;position:absolute;right:0;bottom:0;background-image:url(/img/wire/menu_640_new.png);background-repeat:no-repeat;background-size:298px 750px}
#main_menu_wrie .on > button,
#main_menu_wrie .on > a { background-color:#3e4d62;border:none;height:80px;border-bottom:1px solid #3e4d62}

#main_menu_wrie .mmenu_1 {box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;width:33% !important;border-top-left-radius:8px;-moz-border-top-left-radius: 8px;-webkit-border-top-left-radius:8px;background:url(/img/wire/gray_dot.gif) repeat-y 100% 0;background-size: 1px 1px}
#main_menu_wrie .mmenu_1 button {border-top-left-radius:8px;-moz-border-top-left-radius:8px;-webkit-border-top-left-radius:8px}
#main_menu_wrie .mmenu_1 .m_title {width:55px;height:55px;background-position:0 0}
#main_menu_wrie .mmenu_1 .m_icon {background-position:-48.5px -24px}	
#main_menu_wrie .mmenu_1.on {width:33% !important;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-top:0px;border-left:0px}
#main_menu_wrie .mmenu_1.on .m_title {background-position:0 -384px}
#main_menu_wrie .mmenu_1.on .m_icon {background-position:-48.5px -412px}	
#main_menu_wrie .mmenu_2 {width:33% !important;background:url(/img/wire/gray_dot.gif) repeat-y 100% 0;background-size:1px 1px}
#main_menu_wrie .mmenu_2 .m_title {background-position:-104px -10px;top:10px;left:5px}
#main_menu_wrie .mmenu_2 .m_icon {background-position:-148.5px -26px}	
#main_menu_wrie .mmenu_2.on { width:33% !important;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-top:0px;border-left:0px}
#main_menu_wrie .mmenu_2.on .m_title {background-position:-104px -397px}
#main_menu_wrie .mmenu_2.on .m_icon {background-position:-148.5px -412px}
#main_menu_wrie .mmenu_3 {width:34% !important}
#main_menu_wrie .mmenu_3 .m_title {background-position:-204.5px -10px;top:10px;left:5px; border-top-right-radius:8px;-moz-border-top-right-radius: 8px;-webkit-border-top-right-radius:8px}
#main_menu_wrie .mmenu_3 button {border-top-right-radius:8px;-moz-border-top-right-radius: 8px;-webkit-border-top-right-radius:8px;width:101%}
#main_menu_wrie .mmenu_3 .m_icon {background-position:100% -24px}	
#main_menu_wrie .mmenu_3.on {width:34% !important; border-top:0px;border-left:0px;border-right:0px}
#main_menu_wrie .mmenu_3.on .m_title {background-position:-204.5px -397px}
#main_menu_wrie .mmenu_3.on .m_icon {background-position:100% -412px}
#main_menu_wrie .mmenu_4 {width:33% !important;background:url(/img/wire/gray_dot.gif) repeat-y 100% 0;background-size:1px 1px;border-bottom-left-radius:0px}
#main_menu_wrie .mmenu_4 > button {border-bottom-left-radius:0px}
#main_menu_wrie .mmenu_4.on > button {border-bottom-left-radius:0}
#main_menu_wrie .mmenu_4 .m_title {background-position:0 -90px;top:10px}
#main_menu_wrie .mmenu_4 .m_icon {background-position:-48.5px -104px}	
#main_menu_wrie .mmenu_4.on {width:33% !important;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-top:0px;border-left:0px;border-right:0px}
#main_menu_wrie .mmenu_4.on .m_title {background-position:0 -477px}
#main_menu_wrie .mmenu_4.on .m_icon {background-position:-48.5px -492px}

#main_menu_wrie .mmenu_5 {width:33% !important;background:url(/img/wire/gray_dot.gif) repeat-y 100% 0;background-size:1px 1px} /* 20150617 ?占쎌젙 */
#main_menu_wrie .mmenu_5 .m_title {background-position:-204.5px -90px;top:10px;left:5px} 
#main_menu_wrie .mmenu_5 .m_icon {background-position:-250.5px -104px} 
#main_menu_wrie .mmenu_5.on {width:33% !important;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-top:0px;border-left:0px;border-right:0px}
#main_menu_wrie .mmenu_5.on .m_title {background-position:-204.5px -476px}
#main_menu_wrie .mmenu_5.on .m_icon {background-position:100% -493px}

#main_menu_wrie .mmenu_6 {width:34% !important;border-bottom-left-radius:8px;-moz-border-bottom-left-radius: 8px;-webkit-border-bottom-left-radius:8px}
#main_menu_wrie .mmenu_6 > button {border-bottom-right-radius:0px;-moz-border-bottom-right-radius: 0px;-webkit-border-bottom-right-radius:0px;width:101%}
#main_menu_wrie .mmenu_6.on > button{border-bottom-right-radius:0;-moz-border-bottom-right-radius:0;-webkit-border-bottom-right-radius:0}    
#main_menu_wrie .mmenu_6 .m_title {background-position:-104px -90px;top:10px;left:5px}
#main_menu_wrie .mmenu_6 .m_icon {background-position: -149px -104px} 
#main_menu_wrie .mmenu_6.on {width:34% !important; border-top:0px;border-left:0px;border-right:0px;border-bottom-left-radius:0px;-moz-border-bottom-left-radius:0px;-webkit-border-bottom-left-radius:0px}   
#main_menu_wrie .mmenu_6.on .m_title {background-position:-104px -475px}
#main_menu_wrie .mmenu_6.on .m_icon {background-position:-148.5px -491px}  	

#main_menu_wrie .mmenu_7 {width:33% !important;background:url(/img/wire/gray_dot.gif) repeat-y 100% 0;background-size:1px 1px;border-bottom-left-radius:0px}
#main_menu_wrie .mmenu_7 > button {border-bottom-left-radius:8px}
#main_menu_wrie .mmenu_7.on > button {border-bottom-left-radius:0px}
#main_menu_wrie .mmenu_7 .m_title {background-position:0 -171px;top:10px}
#main_menu_wrie .mmenu_7 .m_icon {background-position:-48.5px -185px}	
#main_menu_wrie .mmenu_7.on {width:33% !important;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-top:0px;border-left:0px;border-right:0px}
#main_menu_wrie .mmenu_7.on .m_title {background-position:0 -556px}
#main_menu_wrie .mmenu_7.on .m_icon {background-position:-48.5px -570px}
#main_menu_wrie .mmenu_8 {width:66% !important;border-bottom-left-radius:8px;-moz-border-bottom-left-radius: 8px;-webkit-border-bottom-left-radius:8px}
#main_menu_wrie .mmenu_8 > button {border-bottom-right-radius:8px;-moz-border-bottom-right-radius: 8px;-webkit-border-bottom-right-radius:8px;width:101%}
#main_menu_wrie .mmenu_8.on > button{border-bottom-right-radius:0;-moz-border-bottom-right-radius:0;-webkit-border-bottom-right-radius:0}	
#main_menu_wrie .mmenu_8 .m_title {width:120px;height:14px;background-position:-104.5px -171px;top:10px;left:5px}
#main_menu_wrie .mmenu_8 .m_icon {background-position:100% -185px}	
#main_menu_wrie .mmenu_8.on {width:66% !important; border-top:0px;border-left:0px;border-right:0px;border-bottom-left-radius:0px;-moz-border-bottom-left-radius:0px;-webkit-border-bottom-left-radius:0px}	
#main_menu_wrie .mmenu_8.on .m_title {background-position:-104.5px -556px}
#main_menu_wrie .mmenu_8.on .m_icon {background-position:100% -570px}		

#main_menu_wrie .m_sub_menu {position:relative;background:#fff;overflow:hidden}	
#main_menu_wrie .m_sub_menu  li {position:relative;width:50%;border-right:1px solid #e7e7e7;height:43px;border-bottom:0px solid #becad4;border-top:0px solid #edf1f5;font-size:11px;font-weight:bold;line-height:42px;text-align:left;letter-spacing:-1px;float:left;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
#main_menu_wrie .m_sub_menu  li:nth-child(2n)  { width:50%;height:43px;border-right:0px; }
#main_menu_wrie .m_sub_menu  li:last-child {border-bottom:none !important}	
#main_menu_wrie .m_sub_menu  li a {color:#333;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;display:block;height:100%;padding-left:10px;border-bottom:1px solid #e7e7e7}
#main_menu_wrie .m_sub_menu  li span.arr {position:absolute;right:5px;top:16px;width:13px;height:21px;background:url(/img/main/main_2depth_arrow.png) no-repeat 0 0;background-size:8px;vertical-align:-2px;overflow:hidden}
#main_menu_wrie  >ul >li .arw {width:19px;height:8.5px;background-image:url(/img/main/main_arw.png);background-repeat:no-repeat;background-size:19px 8.5px;position:absolute;background-position:0 0;display:none}

#main_menu_wrie .mmenu_1 .m_sub_menu,
#main_menu_wrie .mmenu_2 .m_sub_menu,
#main_menu_wrie .mmenu_3 .m_sub_menu,
#main_menu_wrie .mmenu_4 .m_sub_menu,
#main_menu_wrie .mmenu_5 .m_sub_menu,
#main_menu_wrie .mmenu_6 .m_sub_menu,
#main_menu_wrie .mmenu_7 .m_sub_menu,
#main_menu_wrie .mmenu_8 .m_sub_menu {border-bottom: 1px solid #becad4}
#main_menu_wrie .mmenu_1 .m_sub_menu {width:303%;top:0px;left:0;display:none;border-bottom: 1px solid #becad4}
#main_menu_wrie .mmenu_1 .arw {top:80px;left:16.6%;margin-left:-9.5px}	
#main_menu_wrie .mmenu_2 .m_sub_menu {width:303%;top:0;left:-100%;display:none}	
#main_menu_wrie .mmenu_5 .m_sub_menu {width:303%;top:0;left:-100%;display:none;border-radius:0 0 0px 0px}	
#main_menu_wrie .mmenu_2 .arw ,#main_menu_wrie .mmenu_5 .arw {top:80px;right:50%;;margin-right:-9.5px}	
#main_menu_wrie .mmenu_3 .m_sub_menu {width:294%;top:0px;right:194%;display:none}
#main_menu_wrie .mmenu_6 .m_sub_menu {width:294%;top:0px;right:194%;display:none}
#main_menu_wrie .mmenu_7 .m_sub_menu {width:303%;top:0px;left:0;display:none}
#main_menu_wrie .mmenu_7 .arw {top:80px;left:16.6%;margin-left:-9.5px}
#main_menu_wrie .mmenu_4 .arw {top:80px;left:16.6%;margin-left:-9.5px}
#main_menu_wrie .mmenu_3 .arw, #main_menu_wrie .mmenu_6 .arw {top:80px;right:16.6%;margin-left:-9.5px}	
#main_menu_wrie .mmenu_4 .m_sub_menu {width:303%;top:0px;left:0;display:none;border-radius:0 0 0px 0px}

#main_menu_wrie .m_sub_menu  li.last_line_hide {border-bottom:none}	

/* index_rec_service*/
.rec_service {margin-bottom:15px}
.rec_service:after {content:'';display:block;clear:both}
.rec_service .payinfo {float:left;width:49%}
.rec_service .payinfo h2 {width:100%;height:20px;margin-left:3px;background:url(/img/wire/sp_indx_txt.png) repeat-y 0 0;background-size:100px auto;text-indent:-5000em !important}
.rec_service .service {float:right;width:49%}
.rec_service .service h2 {width:100%;height:20px;margin-left:3px;background:url(/img/wire/sp_indx_txt.png) repeat-y 0 -25px;background-size:100px auto;text-indent:-5000em !important}
.rec_service ul {background-color:#fff;padding:3px 10px;border:1px solid #d2d2d2;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:1px 1px 0 #c5c5c6;-moz-box-shadow:1px 1px 0 #c5c5c6;-webkit-box-shadow:1px 1px 0 #c5c5c6}
.rec_service ul li {position:relative;width:100%;height:40px;line-height:40px;border-bottom:1px solid #d6d6d6;font-size:11px;letter-spacing:-1px}
.rec_service ul li:last-of-type {border:0px}
.rec_service ul li a {display:block}
.rec_service ul li span {display:block;position:absolute;top:50%;right:0;width:7px;height:11px;margin-top:-5px;background:url(/img/main/icons.png) no-repeat -121px -65px;background-size:155px 172.5px}
.rec_service ul li strong {display:inline-block;width:37px;height:13px;margin-right:5px;padding-top:2px;background:#e5ebf1;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;vertical-align:middle;line-height:1.2;font-size:8px;color:#3e4d62;text-align:center;font-weight:bold}
.quick_link {margin-bottom:15px}
.quick_link:after {content:'';display:block;clear:both}
.quick_link li {float:left}
.quick_link li a {display:block}
.quick_link li.service_area {width:33%;box-sizing:border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border:1px solid #d2d2d2;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:1px 1px 0 #fff;-moz-box-shadow:1px 1px 0 #fff;-webkit-box-shadow:1px 1px 0 #fff}
.quick_link li.service_area a {position:relative;width:100%;height:80px;border-left:1px solid #fff;border-top:1px solid #fff; border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;font-size:0;line-height:0;text-indent:-99999px}

.quick_link li.service_area a .m_title {display:block;position:absolute;left:0;top:2px;width:55px;height:55px;background-image:url(/img/wire/menu_640_new.png);background-repeat:no-repeat;background-position:0 -400px;background-size:298px 500px}
.quick_link li.service_area a .m_icon {display:block;position:absolute;right:0;bottom:0;width:45px;height:55px;background-image:url(/img/wire/menu_640_new.png);background-repeat:no-repeat;background-position:-52.5px -424px;background-size:298px 500px}
.quick_link li.quick_consult {width:67%}
.quick_link li.quick_consult a {margin-left:5px;height:80px;background:#fff;
 box-sizing:border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border:1px solid #d2d2d2;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:1px 1px 0 #b5b7bc;-moz-box-shadow:1px 1px 0 #b5b7bc;-webkit-box-shadow:1px 1px 0 #b5b7bc;text-align:center}
.quick_link li.quick_consult a img {height:78px}
 
/* index_banner */
#banner {width:100%;position:relative;padding-bottom:34px}
#banner img {border-radius:8px;-moz-border-radius: 8px;-webkit-border-radius:8px;height:76px}
.b_arw { display:block;width:20px;height:20px; background-image:url(/img/main/icons.png);background-repeat:no-repeat;background-size:155px 172.5px;position:absolute;top:30px;z-index:50;text-indent:-999px;font-size:0}
.arw_l {left:-9px;background-position:-80px 0px}
.arw_r {right:-9px;background-position:-107px 0px}
.b_paging {position:absolute;bottom:9px;left:50%;width:100%;height:21px;margin-left:-50%;text-align:center}
#banner ul  { height:78px;width:100%;overflow:hidden;min-width:300px}
#banner ul li {display:none;text-align:center;height:76px;background:#fff;min-width:298px;overflow:hidden}
#banner ul li a {display:block}
#banner ul li.c_page {display:block;border:1px solid #c6c5c3;border-radius:8px;-moz-border-radius: 8px;-webkit-border-radius:8px}
.b_paging button,
.b_paging a {display:inline-block;background-image:url(/img/main/icons.png);background-repeat:no-repeat;background-size:155px 172.5px;vertical-align:middle;position:relative}
.b_paging span {display:inline-block;background-image:url(/img/main/icons.png);background-repeat:no-repeat;background-size:155px 172.5px;vertical-align:middle;position:relative}
.b_paging span img {width:9px !important;height:9px !important;position:absolute;left:-1px}
.b_page {width:10px;height:10px;background-position:-84px -65px;text-indent:-99999px}
.b_page.on {background-position:-95px -65px}
.b_paging .bplay_btn {position:absolute;left:65%;top:0;width:18.5px;height:18.5px;background-position:-105px -40px;text-indent:-999px;font-size: 0}
.bplay_btn.b_play {width:18.5px;height:18.5px;background-position:-84px -40px}

.contbox.wire_list {padding:10px 0 10px}
.contbox_white.wire_area {padding-left:0;padding-right:0}
.contbox_white.wire_area .greay_txt_box {margin:0 9px 15px}

.prd_acc_area {padding:10px 0 0}
.product_list li {border-top:1px solid #bdc1c8}
.product_list h2 {position:relative;height:47px;padding-left:10px;background:#e2e5ea;border-top:1px solid #f3f8ff;border-bottom:1px solid #bdc1c8;line-height:3.5;color:#333;font-size:13px}
.product_list h2 span.arr {display:inline-block;position:absolute;right:10px;top:16px;width:10px;height:20px;background:url(/img/wire/arr2.png) no-repeat 0 -25px;background-size:10px 50px;vertical-align:-2px;overflow:hidden}
.product_list h2 a {display:block;margin-left:-10px;padding-left:10px}
.product_list ul li {position:relative;border-top:1px solid #dedede;border-bottom:none}
.product_list ul li a {display:block;padding:16px 80px 19px 8px;color:#1e1f1f;font-size:11px}
.product_list ul li span.arr {display:inline-block;position:absolute;right:10px;top:18px;width:10px;height:20px;background:url(/img/wire/arr2.png) no-repeat 0 0;background-size:10px 50px;vertical-align:-2px;overflow:hidden}
.product_list ul li span.price {display:inline-block;position:absolute;right:25px;top:17px;width:60px;height:20px;color:#ed4f12;text-align:right}
.product_list.type1 {border-top:1px solid #bdc1c8}
.product_list.type1 h2 {height:32px;background:#89919c;border-top:none;color:#fff;line-height:2.5}
.product_list.type1 li {border-top:none}
.product_list.type1 li a {position:relative;padding:16px 0 19px 10px;background:#e2e5ea;border-top:1px solid #f3f8ff;border-bottom:1px solid #bdc1c8;line-height:1;color:#333;font-size:13px}
.product_list.type1 li span.arr {display:inline-block;position:absolute;right:10px;top:16px;width:10px;height:20px;background:url(/img/wire/arr2.png) no-repeat 0 -25px;background-size:10px 50px;vertical-align:-2px;overflow:hidden}

.ul_product {margin-top:15px;padding-bottom: 1px;overflow:hidden}
.ul_product li {position:relative;padding-bottom:5px;padding-right:80px;font-size:11px;color:#535353}
.ul_product li .txt {display:block;margin-bottom:5px;font-weight:bold;font-size:13px;color:#1e1f1f;letter-spacing:-.5px}
.ul_product li .line {display:inline-block;margin-right:8px;padding-right:8px;background:url(/img/wire/bg_line.gif) no-repeat right 50%;background-size:auto 9px;vertical-align:-2px}
.ul_product li strong.point_color {font-size:15px;font-weight:bold;vertical-align:middle}
.ul_product li .ic {display:block;position:absolute;top:0;right:0;width:76px;height:64px}
.ul_product li .ic img {width:76px;height:64px}

.banner_pay {height:115px;margin:0 -9px;background:#f4f3f1}
.banner_pay a {display:block;background-image:url(/img/wire/banner_pay.png);background-position:50% 0;background-repeat:no-repeat;background-size:auto 115px;text-indent:-5000em !important}
.banner_free {position:relative;height:84px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #f3f3f3;background:#eaeaec}
.banner_free.mg {margin:0 9px}
.banner_free .bnr_img {display:block;height: 84px;background-image:url(/img/wire/banner_free.png);background-position:50% 0;background-repeat:no-repeat;background-size:auto 84px;text-indent:-5000em !important}
.banner_free .btn {position:absolute;left:50%;height:20px;margin-left:-106px;text-indent:-99999px;color:transparent;/*background:rgba(255,0,0,.5);*/}
.banner_free .btn.b1 {top:32px;width:115px}
.banner_free .btn.b2 {top:56px;width:140px}
.banner_jion {height:82px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #f3f3f3;background:#ededee}
.banner_jion a {display:block;background-image:url(/img/wire/banner_join.gif);background-position:50% 0;background-repeat:no-repeat;background-size:auto 82px;text-indent:-5000em !important}
.data_board table th.th_line {border-right:1px solid #bebfbb}

.bg_txtbox_wire {height:90px;background-image:url(/img/wire/bg_txt1.png);background-position:50% 0;background-repeat:no-repeat;background-size:auto 90px;text-indent:-5000em !important}
.bg_txtbox_wire_02 {height:90px;background-image:url(/img/wire/bg_txt2.png);background-position:50% 0;background-repeat:no-repeat;background-size:auto 90px;text-indent:-5000em !important}
.bg_txtbox_wire_02.box_line {border-top:1px dotted #c3c3c3;border-bottom:1px dotted #c3c3c3}
.bg_txtbox_wire_02 a {display:block}

/* common */
.contbox_top {border-bottom:1px solid #878787}
.t_sevice {display:block;color:#1e1f1f;line-height:17px}
.bnt_bar {display:inline-block;padding:0 8px;font-size:10px;color:#6f6f6f}
.link_line {text-decoration:underline}
.mgt1 {margin-top:-1px}
.mgtm10 {margin-left:-10px}
.font11 {display:block;font-size:11px;color:#535353 !important;letter-spacing:-1px} 
.font11 li {color:#535353 !important}
.font14 {font-size:14px}
.t_point {color:#e22145 !important}
.t_db {display:block}
.t_unit {margin-bottom:5px;text-align:right;font-size:11px;color:#777}
.t_tip {padding-left:9px;font-size:11px;color:#535353;letter-spacing:-1px}
.my_line_info {position:relative;margin-bottom:15px;padding-right:40px}
.my_line_info a {position:absolute;right:0;top:0}
.data_board table tr.total th.th_bg {background-color:#f2f2f2 !important}

/* bill */
.slct_use {padding:0 0 10px}/* 2015-11-27 css */
.slct_use.pad {padding:10px 9px}
.slct_use dt {margin-bottom:10px;font-size:15px}
.slct_use dt strong {color:#ec4909}
.slct_use dd.left {float:left;width:35%}
.slct_use dd.right {position:relative;float:left;width:65%}
.slct_use dd.right div {overflow:hidden;padding:0 40px 0 5px}
.slct_use dd.right div  a {position:absolute;right:0;top:0}

.gray_box {padding:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#f2f2f2;color:#6f6f6f;font-size:11px;line-height:1.3}
.gray_box .btn {display:block;height:28px;margin:10px auto 0;padding:0 25px;border:1px solid #9b9ca0;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;box-shadow:0 1px 0 #c9cacf;-moz-box-shadow:0 1px 0 #c9cacf;-webkit-box-shadow:0 1px 0 #c9cacf; background:#fff;color:#333}
.td_break {word-break:break-all}

.list_board table td .icon_only_link {display:inline-block;margin-left:5px;border-left:0;font-size:1px!important;line-height:1px !important;text-indent:-5000em !important;vertical-align:middle}
.list_board table td .icon_only_link a {display:block;width:25px;height:19px;background:url(/images/ico/bl_link_arrow.png) no-repeat 100% 50%;font-size:1px !important;line-height:1px !important;text-indent:-5000px !important;color:#fff}

.data_board table td .icon_only_link {display:inline-block;margin-left:5px;border-left:0;color:transparent;vertical-align:middle}
.data_board table td .irlink{overflow:hidden;display:inline-block;position:relative;margin-left:5px;width:25px;height:19px;vertical-align:middle;background:url(/images/ico/bl_link_arrow.png) no-repeat 100% 50%}
.data_board table td .irlink span{overflow:hidden;visibility:hidden;display:block;position:relative;width:19px;height:19px;z-index:-1}

.topbg_combi {margin:-20px -9px 0;height:99px;background:url(/img/wire/bg_combi.gif) repeat 0 0 #8ec6ea;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0}
.topbg_combi p {height:99px;background-image:url(/img/wire/bg_combi02.png);background-position:50% 100%;background-repeat:no-repeat;background-size:268px auto;text-indent:-5000em !important}
.title_gray {padding:5px 8px 6px;border-top:1px solid #5b5c6c;border-bottom:1px solid #5b5c6c;background:#89919c;box-shadow:0px 1px 1px #abafba inset;color:#fff;letter-spacing:-1px;font-size:12px}
.db_text_box {padding:10px 10px 20px;font-size:12px;color:#1e1f1f}
.db_text_box.last {padding-bottom:0}
.bu_nodept {padding-left:9px;background:url(/img/wire/bu.gif) no-repeat 0 6px;background-size:4px auto}
.bu_1dept li {margin-top:5px !important;margin-left:10px;padding-left:9px;background:url(/img/wire/bu.gif) no-repeat 0 6px;background-size:4px auto}
.bu_2dept li {margin-top:5px !important;background:url(/img/wire/bu.gif) no-repeat 0 6px;background-size:4px auto}
li.line_shadow {padding-bottom:15px;border-bottom:solid 1px #ccd0da;box-shadow:1px 1px 1px #fff;-webkit-box-shadow:1px 1px 1px #fff}
.title_three_dept_ul li {margin-top:12px}
.imgWrap {position:relative;padding-top:10px}
.imgWrap img {display:block;width:100%;max-width:552px;margin:0 auto}
.imgWrap .btn {position:absolute;top:47%;display:block;width:100%;height:auto;max-height:50px;text-align:center}
.imgWrap .btn.t1 {top:49.5%}
.db_text_box h4 {font-size:12px;color:#1e1f1f;font-weight:bold}
.db_text_box h4 strong {color:#ec4909;font-weight:bold}
.db_text_box .point_color {color:#ec4909 !important}
.db_text_box .t_f11 {font-size:11px !important}
.db_text_box .t_f11 td {color:#333}
.db_text_box .list_board .t_center th, .db_text_box .list_board .t_center td {text-align:center !important}
.db_text_box .list_board .t_f11 th, .db_text_box .list_board .t_f11 td {font-size:11px !important}
.db_text_box .list_board .t_pad th, .db_text_box .list_board .t_pad td {padding:8px 3px !important}
.db_text_box .list_board .t_pad1 th {padding:10px 3px 11px !important}


.product_box > li {display:block;position:relative;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #ccc}
.product_box > li.off {display:none}
.product_box li .btn_center {position:absolute;top:-3px;right:0;padding:0}
.product_box li .btn_center button {width:72px;height:23px;font-size:11px}

.check_combi {margin-top:10px;height:100px;overflow:hidden}
.check_combi:after {content:'';display:block;clear:both}
.check_combi li {position:relative;float:left;width:20%;height:100px}
.check_combi li input {width:0px;height:0px}
.check_combi li label {padding:0;margin:0;width:52px;height:87px;background: none}
.check_combi li .txt {font-size:0px !important;line-height:1px;color:transparent}
.check_combi li .ic {position:absolute;top:0;left:0;display:block;width:52px;height:87px;background-image:url(/img/wire/sp_combi.png);background-repeat:no-repeat;background-size:355px auto}
.check_combi li .ic.btn1 {background-position:0 0}
.check_combi li .ic.btn1.on {background-position:0 -100px}
.check_combi li .ic.btn2 {background-position:-75px 0}
.check_combi li .ic.btn2.on {background-position:-75px -100px}
.check_combi li .ic.btn3 {background-position:-150px 0}
.check_combi li .ic.btn3.on {background-position:-150px -100px}
.check_combi li .ic.btn4 {background-position:-225px 0}
.check_combi li .ic.btn4.on {background-position:-225px -100px}
.check_combi li .ic.btn5 {background-position:-300px 0}
.check_combi li .ic.btn5.on {background-position:-300px -100px}

.list_board table td.b_none {padding-bottom:0 !important;border-bottom:none !important}
.list_board .t_f11 th, .list_board .t_f11 td {font-size:11px;color:#333}
.list_board .t_center th,.list_board .t_center td {text-align:center}
.list_board .t_pad th, .list_board .t_pad td {padding:8px 3px !important}
.list_board .t_right td {text-align:right}
.list_board table .total.bg td {background:url(/img/wire/bg_tbl.gif) repeat 0 0;background-size:6px 6px;color:#fff}

.graph_title_box {margin:0 -9px;padding:5px 7px 6px;border-top:1px solid #5b5c6c;border-bottom:1px solid #5b5c6c;background-color:#989daa;font-size:12px;color:#fff;letter-spacing:-1px}

.line_border_top { border-top:1px solid #878787;padding-top:10px}
.last_tab.two_line { height:48px}
.last_tab.two_line a { height:36px;padding-top:10px;line-height:14px}

.pd_cont { padding:0 9px 20px}
.pdb10 { padding-bottom:10px !important}
.contbox_top .last_tab { padding-top: 0}
.contbox_sky .no_result { text-align:center;padding:15px 10px}
.contbox_sky ul .icon_only_link { display:inline-block;vertical-align:middle;margin-left:5px}
.contbox_sky ul .icon_only_link a { display:block;width:25px;height:19px;background:url(/images/ico/bl_link_arrow.png) no-repeat 100% 50%;font-size:0px !important;line-height:1px !important;text-indent:-5000px !important;color:transparent}

.layer_area .layer_content .layer_cont .box1 {background:#f8f8f8;border:1px solid #dadada;padding:10px}

.contbox_sky li.txt_width span.tit { width:35%}
.contbox_sky li.txt_width span.con { width:65%}

.graph_chart { padding:5px 10px;border:1px solid #bebebe;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.graph_chart ul { width:100%;display:table}
.graph_chart ul li { float:left;font-weight:bold;width:33%;margin:5px 0}
.graph_chart.color3 ul li { width:60%}
.graph_chart.color3 ul li:nth-child(2) { width:40%}
.graph_chart ul li span { display:inline-block;width:12px;height:12px;border-radius:8em;-moz-border-radius:8em;-webkit-border-radius:8em;vertical-align:middle;margin-right:3px}
.graph_chart ul li span.circle_orange { background:#f57e20}
.graph_chart ul li span.circle_red { background:#e72f47}
.graph_chart ul li span.circle_blue { background:#43c9e2}
.graph_chart ul li span.circle_purple { background:#7058ea}
.graph_chart ul li span.circle_green { background:#93c30d}

.use_pattern { border-top:1px solid #ddd;margin:10px -9px 0}
.use_pattern .graph_area { margin:0}
.use_pattern .graph_area .graph_title { font-weight:bold}
.use_pattern .graph_area .graph_box { position:relative;width:100%;display:table}
.use_pattern .graph_area .graph_box dt { font-size:0;line-height:0;text-indent:-5000px;opacity:0}
.use_pattern .graph_area .graph_box dd { float:left;margin-bottom:15px;width:75%}
.use_pattern .graph_area .graph_box dd p { border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;height:8px;  }
.use_pattern .graph_area .graph_box dd p strong { font-size:0;line-height:0;text-indent:-5000px;opacity:0}
.use_pattern .graph_area .graph_box dd span { position:absolute;right:0;display:inline-block;width:20%;height:10px;margin-top: -12px;text-align:right}
.use_pattern .graph_area .graph_box .bar_orange { 
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.11, #FA8A34), color-stop(0.29, #FFAC82), color-stop(0.56, #FA7245), color-stop(0.77, #E22D00));
	background-image: -moz-linear-gradient(bottom, #FA8A34 11%, #FFAC82 29%, #FA7245 56%, #E22D00 77%);
}
.use_pattern .graph_area .graph_box .bar_red { 
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.11, #E8486D), color-stop(0.29, #FF8597), color-stop(0.56, #FB526E), color-stop(0.77, #C7042B));
	background-image: -moz-linear-gradient(bottom, #E8486D 11%, #FF8597 29%, #FB526E 56%, #C7042B 77%);
}
.use_pattern .graph_area .graph_box .bar_blue { 
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.11, #4EDDF0), color-stop(0.29, #8CF0FF), color-stop(0.56, #53E5F5), color-stop(0.77, #3DCFDF));
	background-image: -moz-linear-gradient(bottom, #4EDDF0 11%, #8CF0FF 29%, #53E5F5 56%, #3DCFDF 77%);
}
.use_pattern .graph_area .graph_box .bar_purple { 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.11, #927FF3), color-stop(0.29, #AA97FF), color-stop(0.56, #6143D9), color-stop(0.77, #5345A4));
	background-image: -moz-linear-gradient(bottom, #927FF3 11%, #AA97FF 29%, #6143D9 56%, #5345A4 77%);
}
.use_pattern .graph_area .graph_box .bar_green { 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.11, #9FBB42),	color-stop(0.29, #b7ee00),	color-stop(0.56, #99c91d), color-stop(0.77, #7b8c46));
	background-image: -moz-linear-gradient(bottom, #9FBB42 11%, #b7ee00 29%, #99c91d 56%, #7b8c46 77%);
}

/* 간편가입 신청 */
.join_box {margin:-20px -9px 0; padding:10px 0px 10px 0px; background:#ebebec no-repeat center 0; background-size:291px auto; border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; text-align:center;}
.join_box .join_txt {line-height:1px !important; text-indent:-5000em !important;}
.join_box .btn {width:135px; height:27px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
background: -moz-linear-gradient(top,  #525c6e 0%, #4a5464 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525c6e), color-stop(100%,#4a5464)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #525c6e 0%,#4a5464 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #525c6e 0%,#4a5464 100%); /* Opera 11.10+ */
box-shadow:0 1px 0 #000;  -moz-box-shadow:0 1px 0 #000; -webkit-box-shadow:0 1px 0 #000; font-size:10px; color:#fff; letter-spacing:-1px; text-shadow:-1px -1px 1px #000;}
.join_box .font11 {width: 100%; text-align: center; margin: 5px 0px 10px 0px;}
.join_box .btn_center{width: 100%;text-align: center;}
.join_box .font11 strong {color:#656b77; font-weight:bold;}

.join_step_title {height:20px; margin:0 -9px 20px; padding:11px 0; border-top:1px solid #f3750b; border-bottom:1px solid #b1b1b1;  box-shadow:0 1px 0 #e1e1e1;  -moz-box-shadow:0 1px 0 #e1e1e1; -webkit-box-shadow:0 1px 10px #e1e1e1;}
.join_step_title img{padding-left:10px;}
.join_step_title span {display:block; height:20px; margin-left:9px; background:url(/img/wire/join_step_title.png) no-repeat 0 0; background-size:225px 125px; font-size:0; line-height:0; text-indent:-5000em !important;}
.join_step_title.step2 {margin-top:20px; border-top:1px solid #ed4f12;}
.join_step_title.step3 {margin-top:20px; border-top:1px solid #e22145;}
.join_step_title.step2 span {background-position:0 -50px;}
.join_step_title.step3 span {background-position:0 -100px;}

/* faq_note_list */
.faq_note_list {background-color:#fff}
.faq_note_list li {border-bottom:1px solid #b1b1b1;background:url(/img/wire/bg_faq_title.png) repeat-y 0 0;background-size:32px 100%;letter-spacing:-1px}
.faq_note_list li .title_area {background:url(/images/bg/bg_faq_note_arrow_d.png) no-repeat 100% 50%;font-size:13px;line-height:18px}
.faq_note_list li .title_area .faq_title {padding:11px 60px 11px 45px;background:url(/img/wire/bg_faq_q.png) no-repeat 8px 50%;background-size:17px auto}
.faq_note_list li.list_list {border-bottom:0;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px}
.faq_note_list li .cont_area {display:none;border-top:1px solid #b1b1b1;border-bottom:1px solid #b1b1b1;background:url(/img/wire/bg_faq_cont.png) repeat-y 0 0 #f4f4f6;background-size:32px 100%}
.faq_note_list li .cont_area .faq_cont {background:url(/img/wire/bg_faq_cont_b.png) repeat-x 0 100%;background-size:100% 6px;font-size:11px;line-height:15px;color:#333}
.faq_note_list li .cont_area .faq_cont .faq_aarea {background:url(/img/wire/bg_faq_cont_t.png) repeat-x 0 0;background-size:100% 6px}
.faq_note_list li .cont_area .faq_cont .faq_aarea .faq_atext {padding:11px 15px 12px 45px;background:url(/img/wire/bg_faq_a.png) no-repeat 8px 50%;background-size:17px auto}

.faq_note_list li.view_cont {border-bottom:0}
.faq_note_list li.view_cont .cont_area {display:block}
.faq_note_list li.view_cont .title_area {background-image:url(/images/bg/bg_faq_note_arrow_u.png)}

.box_no_product {display:none;overflow:hidden;max-height:0}
.box_no_product {-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
.box_no_product.on {max-height:150px}
.no_txt_type3.off,
.product_box.off {display:none}
.contbox_white.off {margin-top:-5px;padding-top:0;border-top:none;a -webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}

/* 2014-08-18 유선서비스 수정 */
.list_board .t_center td.t_left {position:relative; padding-right:30px; text-align:left; }
.list_board table td .icon_only_link {position:absolute; top:25%; right:0;}

/* 2014-08-18 유선 수정 */
.check_combi li label {left: 50%;margin-left: -26px;bottom: 0;position: absolute;padding:0;width:52px; height:87px; background: none !important;}

/* 2014-09-24 유선 추가 */
.bene_detail_tit {background:#e3274a;border-radius:20px;text-align:center;color:#fff;font-weight:bold;font-size:12px;padding:3px 0;margin-top:5px;}
.bene_detail_tit.gray{background:#656b77;}
.bene_detail_cnt {background:#f4f4f6;border-radius:10px;padding:10px 10px;margin-top:5px;color:#333;font-size:11px;font-weight:bold;}
.bene_detail_cnt dt{margin-top:10px;}
.bene_detail_cnt dt:first-child{margin-top:0;}
.bene_detail_cnt dd{margin-top:5px;padding-left:10px;background:url(/images/ico/bl_sub_title.png) no-repeat  0 3px;}
.bene_detail_cnt .tit{font-size:13px;padding-left:0;margin-top:10px;}
.bene_detail_cnt .tit:first-child{margin-top:0;}
.bene_detail_cnt li {margin-top:5px;}
.bene_detail_cnt .blt{padding-left:10px;background:url(/images/ico/bl_sub_title.png) no-repeat  0 3px;}


/*2014-12-12 인터넷 전화 */
.txt_ing {margin:10px 0 0 0;padding:10px 0 10px 0;border-top:1px solid #bebebc;border-bottom:1px solid #bebebc;text-align:center;}

/*2015-01-12 요금제 서비스 해지 추가*/
.btn_check_more {margin:15px 0;background:url(/img/wire/btn_check_more.png) no-repeat 0px 5px;background-size:6px 7px;}
.btn_check_more button {margin:0 0 0 10px;font-weight:bold;}
.four_depth_list_wire {margin:20px -10px 0;height:58px;background:url(/img/wire/bg_four_depth_list_wire.png) no-repeat;background-size:100% 100%;}
.four_depth_list_wire:after {content:" "; display:block; clear:both;}
.four_depth_list_wire li {float:left;width:25%;height:68px;margin:0;text-align:center;}/* 구현우 2016-09-22 웹 접근성 수정 : 2016_비정기전수검사(IA)_인터넷_전화_TV 38*/
.four_depth_list_wire li img{height: 41px;margin-top: 9px;} /* 구현우  2016-09-22 웹 접근성 수정 : 2016_비정기전수검사(IA)_인터넷_전화_TV 38*/
.four_depth_list_wire li span {display:block;height:68px;font-size:8px !important;text-indent:0;color:transparent}
.four_depth_list_wire li.on {margin:-2px 0px 0px;background:url(/img/wire/bg_depth.png) no-repeat center 0;background-size:68px 100%;}
.four_depth_list_wire li span.one_depth {height:100%;background:url(/img/wire/txt_one_depth.png) no-repeat center 8px;background-size:53px 42px;}
.four_depth_list_wire li span.two_depth {height:100%;background:url(/img/wire/txt_two_depth.png) no-repeat center 8px;background-size:53px 42px;}
.four_depth_list_wire li span.three_depth {height:100%;background:url(/img/wire/txt_three_depth.png) no-repeat center 8px;background-size:53px 42px;}
.four_depth_list_wire li span.four_depth {height:100%;background:url(/img/wire/txt_four_depth.png) no-repeat center 8px;background-size:53px 42px;}

/*2015-03-11 청구서 변경/재발행*/
.bill_clink{color:#1948b4;text-decoration:underline;}

/*2015-03-31 청구서 변경/재발행*/
.p_bil_click{display:block;background: url(/img/wire/icon_Open.png) no-repeat right 50%;background-size: 20px;}
.p_bil_click.on{background: url(/img/wire/icon_Close.png) no-repeat right 50%;background-size: 20px;}
.p_bil_box{position:relative;height:127px;display:none;margin:10px 5px 0 0;padding:0 0 15px 15px;background: url(/img/wire/p_bil_box_left.png) no-repeat left top;background-size:1000px 127px;}
.p_bil_box .bg{height:127px;margin-right:-5px;padding:15px 15px 0 0;background: url(/img/wire/p_bil_box_right.png) no-repeat right top;background-size:5px 127px;}
.p_bil_box .bg h3{margin-bottom:5px;font-weight:bold;color:#ec4909;text-decoration:underline;}
.p_bil_box span{position:absolute;top:-11px;right:10px;}

/* 2015-04-01 메인 레이어팝업 */
.view_layer .layer_content .layer_popup_btvcont{position:relative;overflow:hidden;}
.view_layer .layer_content .layer_popup_btvcont img{width:100%;vertical-align:top;}
.view_layer .layer_content .layer_popup_btvcont a{display:block;position:absolute;bottom:15px;left:50%;height:auto;margin-left:-100px;width:200px;}
.view_layer .layer_content .layer_popup_btvfooter{position:relative;margin-top:-1px;padding-left:5px;background:#e6e8e9;border:1px solid #e6e8e9;border-bottom-left-radius:4px;moz-border-bottom-left-radius:4px;-webkit-border-bottom-left-radius:4px;border-bottom-right-radius:4px;-moz-border-bottom-right-radius:4px; -webkit-border-bottom-right-radius:4px;vertical-align:bottom;}
.view_layer .layer_content .layer_popup_btvfooter input[type='checkbox']{width:auto;line-height:13px;}
.view_layer .layer_content .layer_popup_btvfooter label{color:#666;}
.view_layer .layer_content .layer_popup_btvfooter a{position:absolute;top:5px;right:5px;padding-right:15px;color:#666;background:url(/img/notice/popup_close.png) no-repeat right 3px;background-size:12px}

/* 2015-11-02 회선추가 */
.fw_b {font-weight:bold}
.fc_orange {color:#f65401}
.selbox_comm {border:0 none;border-radius:0;-webkit-appearance:none;background-color:transparent}
.ico_comm {display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px;background:url(/img/wire/ico_wire_comm.png) no-repeat 0 0;background-size:100px 100px}
.box_myservice {overflow:hidden;margin:0 -10px;padding-bottom:10px}
.box_myservice .wrap_selbox {overflow:hidden;float:right;position:relative;height:100%}
.box_myservice .wrap_selbox .selbox_comm {display:block;width:100%;height:31px;box-sizing:border-box;padding-left:8px;border:1px solid #bbb;border-radius:3px;font-size:14px;line-height:29px;color:#1d1f1e}
.box_myservice .wrap_selbox .ico_comm {position:absolute;top:13px;right:8px;width:9px;height:5px;background-position:-30px -20px}
.box_myservice .btn_ok {display:block;position:absolute;top:0;right:0;width:36px;height:31px;box-sizing:border-box;padding-right:1px;border-radius:2px;font-size:14px;line-height:33px;color:#fff;background-color:#919499;text-align:center}
.box_myservice .txt_service {overflow:hidden;font-size:12px;line-height:20px;color:#646464;text-indent:5px}
.box_myservice .txt_service strong {font-weibht:bold;color:#1e1e1e}
.box_myservice .tab_info {overflow:hidden;height:35px;margin-top:5px;background-color:#919499}
.box_myservice .tab_info li {float:left;position:relative;height:100%;box-sizing:border-box;border-left:1px solid #b2b4b8}
.box_myservice .tab_info li:first-child {border-left:0 none}
.box_myservice .tab_info a {display:block;height:100%;font-size:14px;line-height:37px;color:#fff;text-align:center}
.box_myservice .tab_info .ico_comm {display:none}
.box_myservice .tab_info .on a {font-weight:bold;background:#56546e} /* 2016-09-28 앱접근성 수정 */
.box_myservice .tab_info .on .ico_comm {display:block;position:absolute;bottom:0;left:50%;width:10px;height:7px;margin-left:-5px;background-position:-70px 0}
.box_myservice .tab_info.col2 li {width:50%}
.box_myservice .tab_info.col3 li {width:33.33%}
.box_myservice .cellphone {overflow:hidden;position:relative;height:31px;margin:8px 10px 0;padding-right:39px}
.box_myservice .cellphone .wrap_selbox {width:154px}
.box_myservice .cellphone .lbl_phone {display:block;position:absolute;top:0;left:0;height:100%;font-size:14px;line-height:31px;color:#484848}
.box_myservice .servicelist {overflow:hidden;position:relative;height:31px;margin:10px 10px 0;padding-right:39px}
.box_myservice .servicelist .wrap_selbox {width:100%}
.box_myservice .single_type {padding-right:0}
.box_myservice .single_type .btn_ok {display:none}

.contbox_top .box_myservice{margin:0px}
.mgt10{margin-top:0}

.b_radius{padding:10px !important}
.b_radius .contbox{border:1px solid #999;border-radius:5px}

/* 2016-01-27 번호이동 진행현황 추가 */
.step_box{padding:10px;margin-top:5px;background:#e0e0e0;border-radius:5px;-webkit-border-radius:5px}
.step_box p{color:#333}
.step_box img{width:100%;min-height:60px;vertical-align:top}

/* 2016-02-12 */
.depositBnnr{background:#f4f3f1;width:100%;height:115px;margin:10px 0 0}
/* .bnnrBox{position:relative;width:294px;height:100%;margin:0 auto;background:url(/img/wire/banner_pay.png) no-repeat;background-size:294px 115px} */
.bnnrBox{position:relative;width:294px;height:100%;margin:0 auto;} /*2016-02-23 앱 접근성 관련 수정 */
.bnnrBox img{width: 100%;} /* 2016-02-23 앱 접근성 관련 수정 */
.bnnrBox p{display:block;position:relative;width:100%;height:100%;z-index:-1}
.bnnrBox a{display:block;position:absolute;left:10%;height:20px}
.bnnrBox .btn1{top:29%;width:120px}
.bnnrBox .btn2{top:46%;width:147px}

/* 유선 상품노출 강화 신규이벤트 2017-03-17 */
.cableInfo{padding-top:0 !important}
.cableInfo article{padding:20px 10px 30px;background:#fff}
.cableInfo .discount .tit{font-size:16px;color:#333;text-align:center}
.cableInfo .discount .tit strong{display:block;font-size:20px;font-weight:bold;color:#111}
.cableInfo .discount .txt{font-size:12px;color:#666;text-align:center;line-height:16px}
.cableInfo .discount .lst{display:table;width:100%;margin:20px 0}
.cableInfo .discount .lst:after{content:"";display:table;clear:both}
.cableInfo .discount .lst li{float:left;position:relative;display:table-cell;width:33.333333%;font-size:11px;color:#333;text-align:center}
.cableInfo .discount .case1 li{padding-top:52px}
.cableInfo .discount .case1 li:not(:first-child):after{content:"";position:absolute;left:0;top:0;width:1px;height:100%;background:#e4e4e4}
.cableInfo .discount .case1 li:before{content:"";position:absolute;top:0;left:50%}
.cableInfo .discount .case1 li:nth-child(1):before{background:url(/img/new_cable/bg_cable_join01.png) no-repeat;background-size:61px 42px;width:61px;height:42px;margin-left:-32px}
.cableInfo .discount .case1 li:nth-child(2):before{background:url(/img/new_cable/bg_cable_join02.png) no-repeat;background-size:48px 43px;width:48px;height:43px;margin-left:-24px}
.cableInfo .discount .case1 li:nth-child(3):before{background:url(/img/new_cable/bg_cable_join03.png) no-repeat;background-size:48px 43px;width:48px;height:43px;margin-left:-24px}
.cableInfo .discount .case2{margin-bottom:0}
.cableInfo .discount .case2 li{padding-top:45px}
.cableInfo .discount .case2 li:not(:first-child):before{content:"";position:absolute;top:6px;left:-10px;width:19px;height:19px;background:url(/img/new_cable/ico_sum.png) no-repeat;background-size:19px 19px}
.cableInfo .discount .case2 li:after{content:"";position:absolute;top:0;left:50%}
.cableInfo .discount .case2 li:nth-child(1):after{background:url(/img/new_cable/ico_cable_join01.png) no-repeat;background-size:27px 34px;width:27px;height:34px;margin-left:-14px}
.cableInfo .discount .case2 li:nth-child(2):after{background:url(/img/new_cable/ico_cable_join02.png) no-repeat;background-size:36px 31px;width:36px;height:31px;margin-left:-18px}
.cableInfo .discount .case2 li:nth-child(3):after{background:url(/img/new_cable/ico_cable_join03.png) no-repeat;background-size:36px 32px;width:36px;height:32px;margin-left:-18px}
.cableInfo .discount .lst .line{display:block}
.cableInfo .discount .lst .line strong{font-weight:bold;color:#e3002b}
.cableInfo .counselBox{position:relative;padding:24px 10px 25px;background:#eceff4 url(/img/new_cable/bg_counselor.png) no-repeat;background-position:24px 12px;background-size:43px 61px}
.cableInfo .counselBox .txt{padding-left:70px;text-align:left}
.cableInfo .counselBox .btnGrid{margin-top:15px}
.cableInfo .counselBox .btnGrid a{height:45px}
.cableInfo .grayWrap li{padding-left: 5px;text-indent: -8px;}
